In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# 데이터 로딩

In [2]:
data= pd.read_csv("https://raw.githubusercontent.com/haram4th/ablearn/main/galaxy.csv")

In [3]:
data.head()

,BuyItNow,startprice,carrier,color,productline,noDescription,charCountDescription,upperCaseDescription,sold
0,0,199.99,NaN,White,Galaxy_S9,contains description,0,0,1
1,0,235.00,NaN,NaN,Galaxy_Note9,contains description,0,0,0
2,0,199.99,NaN,NaN,Unknown,no description,100,2,0
3,1,175.00,AT&T,Space Gray,Galaxy_Note9,contains description,0,0,1
4,1,100.00,NaN,Space Gray,Galaxy_S8,contains description,0,0,1

In [ ]:
#바이잇나우 구매자가 산다고누른것, 근데 판매자가 거부할 수도있기에 반드시 팔리는것 아님

In [9]:
data['carrier'].value_counts()

carrier
AT&T               177
Verizon             87
Sprint/T-Mobile     52
Name: count, dtype: int64

In [13]:
data['color'].value_counts()

color
White             328
Midnight Black    274
Space Gray        180
Gold               52
Black              38
Aura Black         19
Prism Black         1
Name: count, dtype: int64

# 전처리

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1485 entries, 0 to 1484
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   BuyItNow              1485 non-null   int64
 1   startprice            1485 non-null   float64
 2   carrier               316 non-null    object
 3   color                 892 non-null    object
 4   productline           1485 non-null   object
 5   noDescription         1485 non-null   object
 6   charCountDescription  1485 non-null   int64
 7   upperCaseDescription  1485 non-null   int64
 8   sold                  1485 non-null   int64
dtypes: float64(1), int64(4), object(4)
memory usage: 104.5+ KB

In [6]:
data.isna().sum()

BuyItNow                   0
startprice                 0
carrier                 1169
color                    593
productline                0
noDescription              0
charCountDescription       0
upperCaseDescription       0
sold                       0
dtype: int64

In [7]:

data.isna().sum() / len(data) * 100

BuyItNow                 0.000000
startprice               0.000000
carrier                 78.720539
color                   39.932660
productline              0.000000
noDescription            0.000000
charCountDescription     0.000000
upperCaseDescription     0.000000
sold                     0.000000
dtype: float64

In [11]:
data['carrier'] = data['carrier'].fillna('NaN')

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1485 entries, 0 to 1484
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   BuyItNow              1485 non-null   int64
 1   startprice            1485 non-null   float64
 2   carrier               1485 non-null   object
 3   color                 892 non-null    object
 4   productline           1485 non-null   object
 5   noDescription         1485 non-null   object
 6   charCountDescription  1485 non-null   int64
 7   upperCaseDescription  1485 non-null   int64
 8   sold                  1485 non-null   int64
dtypes: float64(1), int64(4), object(4)
memory usage: 104.5+ KB

In [5]:
data.describe()

,BuyItNow,startprice,charCountDescription,upperCaseDescription,sold
count,1485.000000,1485.000000,1485.000000,1485.000000,1485.000000
mean,0.449158,216.844162,31.184512,2.863300,0.461953
std,0.497576,172.893308,41.744518,9.418585,0.498718
min,0.000000,0.010000,0.000000,0.000000,0.000000
25%,0.000000,80.000000,0.000000,0.000000,0.000000
50%,0.000000,198.000000,0.000000,0.000000,0.000000
75%,1.000000,310.000000,79.000000,2.000000,1.000000
max,1.000000,999.000000,111.000000,81.000000,1.000000

# EDA

# Feature Engineering

# 데이터 분리 및 분석

# 성능평가 및 성능 개선을 위한 튜닝