In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv('https://raw.githubusercontent.com/snkn1959/data_source/main/customer_pca.csv')

In [3]:
data

,amt,category_entertainment,category_food_dining,category_gas_transport,category_grocery,category_health_fitness,category_home,category_kids_pets,category_misc,category_personal_care,category_shopping,category_travel,label
0,-1.402327,-1.135617,-0.971069,-1.000180,-1.118217,-1.561756,-1.145051,-1.276913,-1.124693,-1.070260,-1.141424,-0.619930,0
1,1.079407,0.414075,0.168880,2.090013,0.767268,1.040236,0.844969,1.127922,1.210503,1.807350,0.659967,-0.222587,3
2,1.200151,0.747127,1.622968,-0.606627,0.439476,1.376630,2.126364,0.378610,-0.196523,0.127825,1.299938,2.766891,1
3,-1.474915,-1.129427,-1.539741,-0.930355,-1.079803,-1.222903,-1.572733,-1.516610,-1.274986,-1.185705,-1.166127,-0.601675,0
4,0.901491,0.257905,-0.320220,2.083588,0.540547,0.705908,1.097814,0.955178,1.198524,1.640103,0.578781,-0.484796,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0.965514,0.426639,0.196184,2.086544,0.727562,0.725503,0.940589,1.923480,1.086851,1.810368,0.252344,-0.401038,3
96,-0.839991,-0.715988,0.394918,-0.398366,-0.721701,-1.263462,-0.576780,-0.190013,-0.818620,-0.286312,-0.940283,-0.504166,0
97,-1.107688,-0.926597,-1.190202,-1.342390,-0.850378,-1.073294,-1.011957,-1.616986,-1.182972,-0.974736,-0.664583,0.193335,0
98,-0.940815,-0.807895,-1.093267,-1.342878,-0.676572,-1.287731,-1.305887,-1.463747,-1.050452,-0.895722,-0.708094,0.954537,0
99,0.599983,0.976691,0.611158,1.174361,-0.015887,1.530824,1.103355,0.929397,1.172695,-0.398034,-0.020631,-0.086794,3

In [4]:

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   amt                      100 non-null    float64
 1   category_entertainment   100 non-null    float64
 2   category_food_dining     100 non-null    float64
 3   category_gas_transport   100 non-null    float64
 4   category_grocery         100 non-null    float64
 5   category_health_fitness  100 non-null    float64
 6   category_home            100 non-null    float64
 7   category_kids_pets       100 non-null    float64
 8   category_misc            100 non-null    float64
 9   category_personal_care   100 non-null    float64
 10  category_shopping        100 non-null    float64
 11  category_travel          100 non-null    float64
 12  label                    100 non-null    int64
dtypes: float64(12), int64(1)
memory usage: 10.3 KB

In [5]:
data['label'].value_counts()

label
0    44
3    38
2    10
1     8
Name: count, dtype: int64

In [6]:
X = data.drop('label', axis=1)
y = data['label']

PCA를 이용해 11개의 변수를 2개로 축소

In [7]:
from sklearn.decomposition import PCA

In [8]:

pca = PCA(n_components=2)
X_pca = pca.fit_transform(X)

In [9]:
X.head()

,amt,category_entertainment,category_food_dining,category_gas_transport,category_grocery,category_health_fitness,category_home,category_kids_pets,category_misc,category_personal_care,category_shopping,category_travel
0,-1.402327,-1.135617,-0.971069,-1.000180,-1.118217,-1.561756,-1.145051,-1.276913,-1.124693,-1.070260,-1.141424,-0.619930
1,1.079407,0.414075,0.168880,2.090013,0.767268,1.040236,0.844969,1.127922,1.210503,1.807350,0.659967,-0.222587
2,1.200151,0.747127,1.622968,-0.606627,0.439476,1.376630,2.126364,0.378610,-0.196523,0.127825,1.299938,2.766891
3,-1.474915,-1.129427,-1.539741,-0.930355,-1.079803,-1.222903,-1.572733,-1.516610,-1.274986,-1.185705,-1.166127,-0.601675
4,0.901491,0.257905,-0.320220,2.083588,0.540547,0.705908,1.097814,0.955178,1.198524,1.640103,0.578781,-0.484796

In [10]:
y

0     0
1     3
2     1
3     0
4     3
     ..
95    3
96    0
97    0
98    0
99    3
Name: label, Length: 100, dtype: int64

In [11]:

customer_pca = pd.concat([X_pca, y], axis=1)
customer_pca

TypeError: cannot concatenate object of type '<class 'numpy.ndarray'>'; only Series and DataFrame objs are valid

In [ ]:

X_pca = pd.DataFrame(X_pca, columns=['comp1', 'comp2'])
X_pca

In [ ]:
sns.scatterplot(x='comp1', y='comp2', data=customer_pca, hue='label', palette='rainbow')

In [ ]:
#어떤애들이 합쳐져서 comp1,2가 됐는지는 알 수 없음
#비지도학습알고리즘
#pca가 알아서 분산 분석 한다음 합쳐진 것
#이 두개는 데이터들의 특성 유지, 가지고 있음

In [ ]:

from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, stratify=y, random_state=8)
X_train_pca, X_test_pca, y_train_pca, y_test_pca = train_test_split(X_pca, y, test_size=0.4, stratify=y, random_state=8)

In [ ]:

X_train.head()

In [ ]:
X_train_pca.head()

In [ ]:
dtc1 = DecisionTreeClassifier(max_depth=3, random_state=8)
dtc1.fit(X_train, y_train)
pred1 = dtc1.predict(X_test)
print(classification_report(y_test, pred1))

In [ ]:
result = pd.DataFrame(dtc1.feature_importances_, index=dtc1.feature_names_in_)
result.sort_values(by=0, ascending=False)

In [ ]:
dtc2 = DecisionTreeClassifier(max_depth=3, random_state=8)
dtc2.fit(X_train_pca, y_train_pca)
pred2 = dtc2.predict(X_test_pca)
print(classification_report(y_test_pca, pred2))

# 4297개의 컬럼 데이터를 PCA로 축소해 분석하기

In [ ]:
data = pd.read_csv('https://media.githubusercontent.com/media/musthave-ML10/data_source/main/anonymous.csv')

In [ ]:
data.head()

In [ ]:

data.info()

In [ ]:
(data.isna().sum() != 0).sum()

In [ ]:
data['class'].value_counts()

In [ ]:
X = data.drop('class', axis=1)
y = data['class']

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
ss = StandardScaler()
X_scaled = ss.fit_transform(X)
X_scaled = pd.DataFrame(X_scaled, columns=X.columns)
X_scaled

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.4, random_state=10)

In [ ]:

dtc = DecisionTreeClassifier(max_depth=5, random_state=8)
dtc.fit(X_train, y_train)
pred = dtc.predict(X_test)
print(classification_report(y_test, pred))

In [ ]:
result = pd.DataFrame(dtc.feature_importances_, index=dtc.feature_names_in_)
result.sort_values(by=0, ascending=False)

In [ ]:

len(result[result[0] > 0])

In [ ]:
result[result[0] > 0]

In [ ]:
from sklearn.decomposition import PCA

In [ ]:
pca = PCA(n_components=20)
X_pca = pca.fit_transform(X_scaled)
X_pca = pd.DataFrame(X_pca)

In [ ]:
X_pca

In [ ]:
print(pca.explained_variance_)

In [ ]:
print(pca.explained_variance_ratio_)

In [ ]:
print(pca.explained_variance_ratio_.sum())

In [ ]:
X_train_pca, X_test_pca, y_train_pca, y_test_pca = train_test_split(X_pca, y, test_size=0.4, random_state=10)

In [ ]:
dtc2 = DecisionTreeClassifier(max_depth=5, random_state=8)
dtc2.fit(X_train_pca, y_train_pca)
pred2 = dtc2.predict(X_test_pca)
print(classification_report(y_test_pca, pred2))

In [ ]:
result2 = pd.DataFrame(dtc2.feature_importances_)
result2.sort_values(by=0, ascending=False)

In [ ]:
len(result2[result2[0] > 0])

In [ ]:

result2[result2[0] > 0]

In [ ]:
pca = PCA(10)
X_pca = pca.fit_transform(X_scaled)
X_pca = pd.DataFrame(X_pca)

In [ ]:
# 주성분의 분산 비율
explained_variance_ratio = pca.explained_variance_ratio_

# Scree plot 그리기
plt.figure(figsize=(10, 6))
plt.plot(range(1, len(explained_variance_ratio) + 1), explained_variance_ratio, marker='o', linestyle='--')
plt.title('Scree Plot')
plt.xlabel('Principal Component')
plt.ylabel('Proportion of Variance Explained')
plt.xticks(range(1, len(explained_variance_ratio) + 1))
plt.grid()
plt.show()

# 누적 분산 비율 계산
cumulative_variance_ratio = np.cumsum(explained_variance_ratio)

# 최적의 주성분 개수 찾기 (예: 80% 이상의 분산을 설명하는 주성분 개수)
optimal_components = np.argmax(cumulative_variance_ratio >= 0.80) + 1
print(f'Optimal number of components: {optimal_components}')

In [ ]:
X_train_pca, X_test_pca, y_train_pca, y_test_pca = train_test_split(X_pca, y, test_size=0.4, random_state=10)

In [ ]:
dtc2 = DecisionTreeClassifier(max_depth=5, random_state=8)
dtc2.fit(X_train_pca, y_train_pca)
pred2 = dtc2.predict(X_test_pca)
print(classification_report(y_test_pca, pred2))

In [ ]:

result2 = pd.DataFrame(dtc2.feature_importances_)
result2.sort_values(by=0, ascending=False)