In [1]:
import pandas as pd
final= pd.read_csv("C:/fintech_service/06_machine_learning/data/final_fliter_data2.csv", encoding='UTF8')
final

,시군구,단지명,전용면적(㎡),거래금액(만원),층,건축년도,date,달러환율,기준금리,분류
0,강원특별자치도 양구군 양구읍 상리,경림,59.4000,"5,000",11,1998.0,2005-09-23,1061.83,3.25,강원특별자치도 양구군
1,경기도 의정부시 신곡동,신일1,59.8780,"5,750",3,1997.0,2005-10-20,1077.02,3.50,경기도 의정부시
2,경기도 의정부시 신곡동,풍림,49.8300,"5,500",8,1998.0,2005-10-20,1077.02,3.50,경기도 의정부시
3,경기도 의정부시 민락동,한라비발디,84.9900,"12,750",19,2003.0,2005-10-30,1061.83,3.50,경기도 의정부시
4,경기도 의정부시 용현동,용현현대1차,129.7300,"12,200",11,1992.0,2005-11-21,1060.19,3.50,경기도 의정부시
...,...,...,...,...,...,...,...,...,...,...
10041446,충청남도 서산시 대산읍 대산리,한미,58.4700,"3,000",5,1992.0,2024-08-31,1408.72,3.50,충청남도 서산시
10041447,경상북도 안동시 법흥동,안동강변펠리시아아파트,116.4457,"52,000",7,2017.0,2024-08-31,1408.72,3.50,경상북도 안동시
10041448,경상북도 구미시 오태동,신한디아체101동102동,59.9800,"4,700",1,1999.0,2024-08-31,1408.72,3.50,경상북도 구미시
10041449,경상남도 양산시 동면 석산리,양산이지더원리버포레,78.2990,"34,200",15,2017.0,2024-08-31,1408.72,3.50,경상남도 양산시
10041450,전북특별자치도 남원시 월락동,양우내안애아파트,59.9896,"20,900",15,2016.0,2024-08-31,1408.72,3.50,전북특별자치도 남원시

In [2]:
final['분류'].unique()

array(['강원특별자치도 양구군', '경기도 의정부시', '경상남도 창원성산구', '경상남도 창원의창구',
       '경상남도 창원진해구', '경상남도 통영시', '경상남도 함양군', '경상북도 경산시', '전북특별자치도 전주덕진구',
       '경상남도 진주시', '경상남도 창녕군', '경상남도 창원마산합포구', '경상남도 창원마산회원구',
       '전북특별자치도 완주군', '경상북도 포항남구', '경상북도 포항북구', '광주광역시 광산구',
       '전북특별자치도 군산시', '경상북도 청도군', '경상북도 울진군', '경상북도 영주시', '경상북도 상주시',
       '전북특별자치도 익산시', '경상북도 경주시', '경상북도 구미시', '경상북도 김천시', '경상남도 양산시',
       '경기도 파주시', '전북특별자치도 전주완산구', '경기도 평택시', '경기도 이천시', '경기도 의왕시',
       '경기도 화성시', '경상남도 거제시', '경상남도 고성군', '경상남도 김해시', '경상남도 사천시',
       '경기도 포천시', '경기도 하남시', '대구광역시 서구', '대구광역시 수성구', '전라남도 순천시',
       '대구광역시 북구', '대구광역시 동구', '전라남도 여수시', '대구광역시 중구', '대전광역시 서구',
       '전라남도 목포시', '대전광역시 유성구', '대전광역시 대덕구', '대전광역시 동구', '광주광역시 북구',
       '광주광역시 서구', '전라남도 해남군', '광주광역시 남구', '대구광역시 남구', '대구광역시 달서구',
       '대구광역시 달성군', '경기도 시흥시', '충청남도 천안동남구', '경기도 수원팔달구', '경기도 안산단원구',
       '경기도 안산상록구', '충청남도 아산시', '경기도 수원장안구', '경기도 수원권선구', '충청남도 천안서북구',
       '경기도 수원영통구', '경기도 성남중원구', '경기도 용인기흥구', '경기도 용인수지구', '충청남도 당진시',
       '충청남도 서산시', '충청남도 부여군', '충청남도 보령시', '경기도 용인처인구', '충청남도 계룡시',
       '경기도 안양동안구', '경기도 안양만안구', '경기도 양주시', '경기도 오산시', '대전광역시 중구',
       '서울특별시 서초구', '인천광역시 부평구', '인천광역시 미추홀구', '서울특별시 마포구', '서울특별시 서대문구',
       '서울특별시 성동구', '서울특별시 성북구', '서울특별시 도봉구', '서울특별시 동대문구', '서울특별시 노원구',
       '서울특별시 동작구', '서울특별시 송파구', '인천광역시 계양구', '서울특별시 은평구', '서울특별시 종로구',
       '서울특별시 중구', '서울특별시 중랑구', '서울특별시 용산구', '서울특별시 영등포구', '인천광역시 남동구',
       '세종특별자치시 소정면', '울산광역시 북구', '울산광역시 울주군', '울산광역시 중구', '울산광역시 동구',
       '세종특별자치시 연서면', '세종특별자치시 조치원읍', '울산광역시 남구', '인천광역시 동구', '서울특별시 양천구',
       '서울특별시 강남구', '인천광역시 연수구', '부산광역시 해운대구', '서울특별시 강동구', '인천광역시 서구',
       '서울특별시 강북구', '부산광역시 부산진구', '전라남도 강진군', '부산광역시 북구', '부산광역시 동래구',
       '부산광역시 금정구', '부산광역시 기장군', '부산광역시 남구', '부산광역시 동구', '부산광역시 사상구',
       '부산광역시 서구', '부산광역시 수영구', '부산광역시 연제구', '부산광역시 영도구', '부산광역시 사하구',
       '인천광역시 중구', '서울특별시 금천구', '서울특별시 구로구', '서울특별시 강서구', '서울특별시 관악구',
       '서울특별시 광진구', '경기도 성남분당구', '경기도 고양일산동구', '경기도 고양일산서구', '경기도 김포시',
       '충청북도 청주흥덕구', '경기도 남양주시', '경기도 부천시', '경기도 군포시', '충청북도 청주상당구',
       '경기도 고양덕양구', '경기도 성남수정구', '경기도 동두천시', '강원특별자치도 춘천시', '충청북도 제천시',
       '충청북도 청주서원구', '경기도 광주시', '경기도 구리시', '경기도 광명시', '경기도 과천시',
       '충청북도 증평군', '강원특별자치도 동해시', '충청남도 홍성군', '강원특별자치도 원주시', '충청북도 보은군',
       '충청북도 음성군', '경상남도 함안군', '경상남도 하동군', '전라남도 보성군', '전라남도 무안군',
       '전라남도 담양군', '전라남도 나주시', '전라남도 광양시', '전라남도 고흥군', '경상북도 영천시',
       '전라남도 화순군', '전라남도 장흥군', '전북특별자치도 고창군', '경상북도 칠곡군', '경상북도 봉화군',
       '경상북도 문경시', '경상북도 성주군', '경상북도 안동시', '광주광역시 동구', '전북특별자치도 순창군',
       '전북특별자치도 남원시', '전라남도 완도군', '전라남도 영암군', '강원특별자치도 평창군',
       '강원특별자치도 태백시', '강원특별자치도 강릉시', '충청북도 충주시', '강원특별자치도 고성군',
       '강원특별자치도 정선군', '강원특별자치도 속초시', '강원특별자치도 삼척시', '충청북도 청주청원구',
       '부산광역시 중구', '충청남도 논산시', '경기도 양평군', '경기도 여주시', '충청남도 서천군',
       '충청북도 진천군', '전북특별자치도 정읍시', '충청남도 공주시', '제주특별자치도 서귀포시',
       '제주특별자치도 제주시', '충청북도 옥천군', '충청북도 단양군', '경기도 안성시', '충청남도 예산군',
       '경상남도 밀양시', '경상남도 거창군', '경기도 연천군', '경상남도 산청군', '강원특별자치도 횡성군',
       '강원특별자치도 화천군', '강원특별자치도 홍천군', '경상북도 예천군', '전북특별자치도 부안군',
       '경상북도 청송군', '경상북도 고령군', '경상남도 남해군', '강원특별자치도 영월군', '강원특별자치도 양양군',
       '세종특별자치시 금남면', '전라남도 영광군', '전북특별자치도 김제시', '인천광역시 강화군',
       '강원특별자치도 철원군', '경상북도 영덕군', '충청남도 청양군', '전북특별자치도 무주군', '전라남도 구례군',
       '경상남도 의령군', '세종특별자치시 전동면', '세종특별자치시 부강면', '충청남도 태안군',
       '전북특별자치도 임실군', '경상남도 합천군', '세종특별자치시 전의면', '경기도 가평군', '경상북도 의성군',
       '강원특별자치도 인제군', '전라남도 진도군', '충청북도 영동군', '전북특별자치도 진안군', '전라남도 곡성군',
       '전라남도 장성군', '부산광역시 강서구', '경상북도 영양군', '충청남도 금산군', '세종특별자치시 연동면',
       '대구광역시 군위군', '전라남도 함평군', '경상북도 울릉군', '충청북도 괴산군', '전북특별자치도 장수군',
       '전라남도 신안군', '세종특별자치시 한솔동', '세종특별자치시 어진동', '세종특별자치시 나성동',
       '세종특별자치시 종촌동', '세종특별자치시 아름동', '세종특별자치시 장군면', '세종특별자치시 도담동',
       '세종특별자치시 고운동', '세종특별자치시 소담동', '세종특별자치시 보람동', '세종특별자치시 새롬동',
       '세종특별자치시 대평동', '세종특별자치시 다정동', '세종특별자치시 반곡동', '세종특별자치시 가람동',
       '세종특별자치시 해밀동', '세종특별자치시 집현동', '경상북도 포항시', '충청북도 청주시', '경상남도 창원시',
       '충청남도 천안시', '전북특별자치도 전주시', '경기도 용인시', '경기도 고양시', '경기도 수원시',
       '경기도 안산시', '경기도 안양시', '경기도 성남시', '세종특별자치시 산울동'], dtype=object)

In [3]:
# '분류' 컬럼에서 세종특별자치시 각 지역을 '세종특별자치시'로 변경
final['분류'] = final['분류'].replace({
    '세종특별자치시 소정면': '세종특별자치시',
    '세종특별자치시 연서면': '세종특별자치시',
    '세종특별자치시 조치원읍': '세종특별자치시',
    '세종특별자치시 금남면': '세종특별자치시',
    '세종특별자치시 전동면': '세종특별자치시',
    '세종특별자치시 부강면': '세종특별자치시',
    '세종특별자치시 전의면': '세종특별자치시',
    '세종특별자치시 연동면': '세종특별자치시',
    '세종특별자치시 한솔동': '세종특별자치시',
    '세종특별자치시 어진동': '세종특별자치시',
    '세종특별자치시 나성동': '세종특별자치시',
    '세종특별자치시 종촌동': '세종특별자치시',
    '세종특별자치시 아름동': '세종특별자치시',
    '세종특별자치시 장군면': '세종특별자치시',
    '세종특별자치시 도담동': '세종특별자치시',
    '세종특별자치시 고운동': '세종특별자치시',
    '세종특별자치시 소담동': '세종특별자치시',
    '세종특별자치시 보람동': '세종특별자치시',
    '세종특별자치시 새롬동': '세종특별자치시',
    '세종특별자치시 대평동': '세종특별자치시',
    '세종특별자치시 다정동': '세종특별자치시',
    '세종특별자치시 반곡동': '세종특별자치시',
    '세종특별자치시 가람동': '세종특별자치시',
    '세종특별자치시 해밀동': '세종특별자치시',
    '세종특별자치시 집현동': '세종특별자치시',
    '세종특별자치시 산울동': '세종특별자치시',
})

In [4]:
# '분류' 컬럼에서 포항의 각 구를 '경상북도 포항시'로 변경
final['분류'] = final['분류'].replace({
    '경상북도 포항남구': '경상북도 포항시',
    '경상북도 포항북구': '경상북도 포항시'
})

In [5]:
# '분류' 컬럼 데이터를 처리하는 함수 정의
def process_region(region):
    parts = region.split()  # ' '을 기준으로 나누기
    if len(parts) > 1 and len(parts[1]) >= 5:  # 두 번째 값의 길이가 5 이상일 경우
        return parts[0] + ' ' + parts[1][:2] + '시'  # 왼쪽에서 두 글자만 가져와서 '시' 붙이기
    return region

# '분류' 컬럼에 대해 함수 적용
final['분류'] = final['분류'].apply(process_region)

In [6]:
final['분류'].unique()

array(['강원특별자치도 양구군', '경기도 의정부시', '경상남도 창원시', '경상남도 통영시', '경상남도 함양군',
       '경상북도 경산시', '전북특별자치도 전주시', '경상남도 진주시', '경상남도 창녕군', '전북특별자치도 완주군',
       '경상북도 포항시', '광주광역시 광산구', '전북특별자치도 군산시', '경상북도 청도군', '경상북도 울진군',
       '경상북도 영주시', '경상북도 상주시', '전북특별자치도 익산시', '경상북도 경주시', '경상북도 구미시',
       '경상북도 김천시', '경상남도 양산시', '경기도 파주시', '경기도 평택시', '경기도 이천시', '경기도 의왕시',
       '경기도 화성시', '경상남도 거제시', '경상남도 고성군', '경상남도 김해시', '경상남도 사천시',
       '경기도 포천시', '경기도 하남시', '대구광역시 서구', '대구광역시 수성구', '전라남도 순천시',
       '대구광역시 북구', '대구광역시 동구', '전라남도 여수시', '대구광역시 중구', '대전광역시 서구',
       '전라남도 목포시', '대전광역시 유성구', '대전광역시 대덕구', '대전광역시 동구', '광주광역시 북구',
       '광주광역시 서구', '전라남도 해남군', '광주광역시 남구', '대구광역시 남구', '대구광역시 달서구',
       '대구광역시 달성군', '경기도 시흥시', '충청남도 천안시', '경기도 수원시', '경기도 안산시',
       '충청남도 아산시', '경기도 성남시', '경기도 용인시', '충청남도 당진시', '충청남도 서산시',
       '충청남도 부여군', '충청남도 보령시', '충청남도 계룡시', '경기도 안양시', '경기도 양주시',
       '경기도 오산시', '대전광역시 중구', '서울특별시 서초구', '인천광역시 부평구', '인천광역시 미추홀구',
       '서울특별시 마포구', '서울특별시 서대문구', '서울특별시 성동구', '서울특별시 성북구', '서울특별시 도봉구',
       '서울특별시 동대문구', '서울특별시 노원구', '서울특별시 동작구', '서울특별시 송파구', '인천광역시 계양구',
       '서울특별시 은평구', '서울특별시 종로구', '서울특별시 중구', '서울특별시 중랑구', '서울특별시 용산구',
       '서울특별시 영등포구', '인천광역시 남동구', '세종특별자치시', '울산광역시 북구', '울산광역시 울주군',
       '울산광역시 중구', '울산광역시 동구', '울산광역시 남구', '인천광역시 동구', '서울특별시 양천구',
       '서울특별시 강남구', '인천광역시 연수구', '부산광역시 해운대구', '서울특별시 강동구', '인천광역시 서구',
       '서울특별시 강북구', '부산광역시 부산진구', '전라남도 강진군', '부산광역시 북구', '부산광역시 동래구',
       '부산광역시 금정구', '부산광역시 기장군', '부산광역시 남구', '부산광역시 동구', '부산광역시 사상구',
       '부산광역시 서구', '부산광역시 수영구', '부산광역시 연제구', '부산광역시 영도구', '부산광역시 사하구',
       '인천광역시 중구', '서울특별시 금천구', '서울특별시 구로구', '서울특별시 강서구', '서울특별시 관악구',
       '서울특별시 광진구', '경기도 고양시', '경기도 김포시', '충청북도 청주시', '경기도 남양주시',
       '경기도 부천시', '경기도 군포시', '경기도 동두천시', '강원특별자치도 춘천시', '충청북도 제천시',
       '경기도 광주시', '경기도 구리시', '경기도 광명시', '경기도 과천시', '충청북도 증평군',
       '강원특별자치도 동해시', '충청남도 홍성군', '강원특별자치도 원주시', '충청북도 보은군', '충청북도 음성군',
       '경상남도 함안군', '경상남도 하동군', '전라남도 보성군', '전라남도 무안군', '전라남도 담양군',
       '전라남도 나주시', '전라남도 광양시', '전라남도 고흥군', '경상북도 영천시', '전라남도 화순군',
       '전라남도 장흥군', '전북특별자치도 고창군', '경상북도 칠곡군', '경상북도 봉화군', '경상북도 문경시',
       '경상북도 성주군', '경상북도 안동시', '광주광역시 동구', '전북특별자치도 순창군', '전북특별자치도 남원시',
       '전라남도 완도군', '전라남도 영암군', '강원특별자치도 평창군', '강원특별자치도 태백시',
       '강원특별자치도 강릉시', '충청북도 충주시', '강원특별자치도 고성군', '강원특별자치도 정선군',
       '강원특별자치도 속초시', '강원특별자치도 삼척시', '부산광역시 중구', '충청남도 논산시', '경기도 양평군',
       '경기도 여주시', '충청남도 서천군', '충청북도 진천군', '전북특별자치도 정읍시', '충청남도 공주시',
       '제주특별자치도 서귀포시', '제주특별자치도 제주시', '충청북도 옥천군', '충청북도 단양군', '경기도 안성시',
       '충청남도 예산군', '경상남도 밀양시', '경상남도 거창군', '경기도 연천군', '경상남도 산청군',
       '강원특별자치도 횡성군', '강원특별자치도 화천군', '강원특별자치도 홍천군', '경상북도 예천군',
       '전북특별자치도 부안군', '경상북도 청송군', '경상북도 고령군', '경상남도 남해군', '강원특별자치도 영월군',
       '강원특별자치도 양양군', '전라남도 영광군', '전북특별자치도 김제시', '인천광역시 강화군',
       '강원특별자치도 철원군', '경상북도 영덕군', '충청남도 청양군', '전북특별자치도 무주군', '전라남도 구례군',
       '경상남도 의령군', '충청남도 태안군', '전북특별자치도 임실군', '경상남도 합천군', '경기도 가평군',
       '경상북도 의성군', '강원특별자치도 인제군', '전라남도 진도군', '충청북도 영동군', '전북특별자치도 진안군',
       '전라남도 곡성군', '전라남도 장성군', '부산광역시 강서구', '경상북도 영양군', '충청남도 금산군',
       '대구광역시 군위군', '전라남도 함평군', '경상북도 울릉군', '충청북도 괴산군', '전북특별자치도 장수군',
       '전라남도 신안군'], dtype=object)

In [7]:
# # 필요한 경우 병합된 데이터를 저장
# final.to_csv("C:/fintech_service/06_machine_learning/data/final_filter_apart_data.csv", index=False)

In [8]:
learning= pd.read_csv("C:/fintech_service/06_machine_learning/data/learn_place_count_data.csv", encoding='UTF8')
learning

           시군구   학원수
0    서울특별시 강남구  3678
1      경기도 수원시  3570
2      경기도 고양시  3485
3      경기도 용인시  3328
4      경기도 성남시  3225
..         ...   ...
230   경상북도 청송군     9
231   전라남도 신안군     6
232   충청북도 청주시     5
233  인천광역시 옹진군     5
234   경상북도 울릉군     4

[235 rows x 2 columns]

In [3]:
# learning['시군구'].unique()

array(['서울특별시 강남구', '경기도 수원시', '경기도 고양시', '경기도 용인시', '경기도 성남시', '경기도 화성시',
       '경상남도 창원시', '전북특별자치도 전주시', '대구광역시 수성구', '서울특별시 양천구', '경기도 부천시',
       '서울특별시 송파구', '경기도 남양주시', '서울특별시 서초구', '대구광역시 달서구', '경기도 안양시',
       '충청남도 천안시', '경기도 김포시', '인천광역시 서구', '경상남도 김해시', '세종특별자치시',
       '대전광역시 서구', '서울특별시 노원구', '부산광역시 해운대구', '서울특별시 강서구', '울산광역시 남구',
       '경기도 시흥시', '경상북도 포항시', '서울특별시 강동구', '제주특별자치도 제주시', '인천광역시 연수구',
       '광주광역시 북구', '경상북도 구미시', '경기도 평택시', '광주광역시 광산구', '경상남도 진주시',
       '경기도 안산시', '대구광역시 북구', '서울특별시 마포구', '경기도 파주시', '경기도 의정부시',
       '인천광역시 남동구', '서울특별시 은평구', '대전광역시 유성구', '부산광역시 동래구', '경기도 하남시',
       '서울특별시 성북구', '서울특별시 동작구', '강원특별자치도 원주시', '인천광역시 부평구', '경상남도 양산시',
       '광주광역시 서구', '광주광역시 남구', '대구광역시 동구', '부산광역시 부산진구', '경기도 광명시',
       '서울특별시 영등포구', '경기도 광주시', '서울특별시 구로구', '서울특별시 관악구', '서울특별시 광진구',
       '서울특별시 서대문구', '경기도 군포시', '대구광역시 달성군', '전라남도 순천시', '충청북도 흥덕구',
       '울산광역시 북구', '부산광역시 사하구', '서울특별시 동대문구', '강원특별자치도 춘천시', '충청남도 아산시',
       '부산광역시 북구', '전북특별자치도 익산시', '경상북도 경산시', '전라남도 여수시', '강원특별자치도 강릉시',
       '전북특별자치도 군산시', '부산광역시 금정구', '부산광역시 남구', '서울특별시 도봉구', '경기도 구리시',
       '울산광역시 중구', '경상북도 경주시', '부산광역시 강서구', '인천광역시 미추홀구', '서울특별시 성동구',
       '경상남도 거제시', '경기도 이천시', '울산광역시 울주군', '서울특별시 중랑구', '부산광역시 기장군',
       '부산광역시 연제구', '경기도 양주시', '경기도 오산시', '전라남도 목포시', '충청북도 상당구',
       '충청북도 서원구', '부산광역시 수영구', '대전광역시 중구', '인천광역시 계양구', '충청북도 충주시',
       '제주특별자치도 서귀포시', '대구광역시 중구', '충청북도 청원구', '서울특별시 강북구', '경상북도 안동시',
       '대전광역시 동구', '광주광역시 동구', '울산광역시 동구', '서울특별시 금천구', '충청남도 서산시',
       '경기도 안성시', '대전광역시 대덕구', '경기도 의왕시', '충청남도 당진시', '서울특별시 종로구',
       '전라남도 광양시', '인천광역시 중구', '전라남도 무안군', '부산광역시 사상구', '경상남도 통영시',
       '서울특별시 용산구', '전라남도 나주시', '경상북도 김천시', '경상남도 사천시', '대구광역시 서구',
       '경기도 과천시', '대구광역시 남구', '충청북도 제천시', '경상북도 영주시', '경상북도 칠곡군',
       '전북특별자치도 정읍시', '부산광역시 서구', '경기도 양평군', '경상남도 밀양시', '전북특별자치도 완주군',
       '충청남도 홍성군', '강원특별자치도 동해시', '경상북도 상주시', '충청남도 보령시', '경기도 여주시',
       '서울특별시 중구', '강원특별자치도 속초시', '충청남도 논산시', '경기도 포천시', '경상북도 영천시',
       '충청북도 진천군', '경상남도 거창군', '부산광역시 영도구', '전북특별자치도 남원시', '충청남도 공주시',
       '경기도 동두천시', '충청남도 연기군', '경상남도 함안군', '경상북도 문경시', '충청남도 계룡시',
       '경상북도 예천군', '전북특별자치도 김제시', '부산광역시 동구', '충청북도 음성군', '충청남도 예산군',
       '강원특별자치도 삼척시', '경기도 가평군', '강원특별자치도 홍천군', '경상남도 창녕군', '전라남도 영광군',
       '경상남도 고성군', '전라남도 해남군', '전라남도 화순군', '경상북도 울진군', '전북특별자치도 고창군',
       '인천광역시 강화군', '강원특별자치도 철원군', '충청북도 증평군', '인천광역시 동구', '경상남도 함양군',
       '전북특별자치도 부안군', '충청남도 서천군', '충청남도 부여군', '충청남도 태안군', '부산광역시 중구',
       '전라남도 영암군', '충청북도 영동군', '전라남도 완도군', '강원특별자치도 태백시', '경상남도 남해군',
       '강원특별자치도 영월군', '강원특별자치도 횡성군', '전라남도 고흥군', '경상남도 합천군', '충청북도 옥천군',
       '전라남도 장성군', '경상남도 하동군', '충청남도 금산군', '경상북도 청도군', '경기도 연천군',
       '전라남도 강진군', '강원특별자치도 인제군', '경상북도 성주군', '경상북도 의성군', '강원특별자치도 평창군',
       '경상북도 영덕군', '강원특별자치도 양양군', '경상북도 고령군', '전라남도 보성군', '전라남도 진도군',
       '강원특별자치도 정선군', '충청북도 보은군', '전북특별자치도 무주군', '경상남도 산청군',
       '강원특별자치도 화천군', '전라남도 장흥군', '전라남도 담양군', '전북특별자치도 순창군',
       '강원특별자치도 양구군', '전북특별자치도 장수군', '전라남도 구례군', '경상남도 의령군',
       '전북특별자치도 임실군', '전라남도 곡성군', '경상북도 봉화군', '충청북도 단양군', '충청북도 괴산군',
       '경상북도 군위군', '강원특별자치도 고성군', '전북특별자치도 진안군', '충청남도 청양군', '전라남도 함평군',
       '대구광역시 군위군', '경상북도 영양군', '경상북도 청송군', '전라남도 신안군', '충청북도 청주시',
       '인천광역시 옹진군', '경상북도 울릉군'], dtype=object)

In [9]:
# merged_final에 '분류' 데이터를 기준으로 count_per_sigungu의 '학원수' 데이터를 left join
merged_final =final.merge(learning[['시군구', '학원수']],
                                  left_on='분류', 
                                  right_on='시군구', 
                                  how='left')

merged_final

,시군구_x,단지명,전용면적(㎡),거래금액(만원),층,건축년도,date,달러환율,기준금리,분류,시군구_y,학원수
0,강원특별자치도 양구군 양구읍 상리,경림,59.4000,"5,000",11,1998.0,2005-09-23,1061.83,3.25,강원특별자치도 양구군,강원특별자치도 양구군,24
1,경기도 의정부시 신곡동,신일1,59.8780,"5,750",3,1997.0,2005-10-20,1077.02,3.50,경기도 의정부시,경기도 의정부시,1151
2,경기도 의정부시 신곡동,풍림,49.8300,"5,500",8,1998.0,2005-10-20,1077.02,3.50,경기도 의정부시,경기도 의정부시,1151
3,경기도 의정부시 민락동,한라비발디,84.9900,"12,750",19,2003.0,2005-10-30,1061.83,3.50,경기도 의정부시,경기도 의정부시,1151
4,경기도 의정부시 용현동,용현현대1차,129.7300,"12,200",11,1992.0,2005-11-21,1060.19,3.50,경기도 의정부시,경기도 의정부시,1151
...,...,...,...,...,...,...,...,...,...,...,...,...
10041446,충청남도 서산시 대산읍 대산리,한미,58.4700,"3,000",5,1992.0,2024-08-31,1408.72,3.50,충청남도 서산시,충청남도 서산시,363
10041447,경상북도 안동시 법흥동,안동강변펠리시아아파트,116.4457,"52,000",7,2017.0,2024-08-31,1408.72,3.50,경상북도 안동시,경상북도 안동시,390
10041448,경상북도 구미시 오태동,신한디아체101동102동,59.9800,"4,700",1,1999.0,2024-08-31,1408.72,3.50,경상북도 구미시,경상북도 구미시,1275
10041449,경상남도 양산시 동면 석산리,양산이지더원리버포레,78.2990,"34,200",15,2017.0,2024-08-31,1408.72,3.50,경상남도 양산시,경상남도 양산시,928
10041450,전북특별자치도 남원시 월락동,양우내안애아파트,59.9896,"20,900",15,2016.0,2024-08-31,1408.72,3.50,전북특별자치도 남원시,전북특별자치도 남원시,137

In [10]:
# '시군구_y' 컬럼 삭제
merged_final = merged_final.drop(columns=['시군구_y'])
merged_final = merged_final.drop(columns=['분류'])
merged_final = merged_final.rename(columns={'시군구_x': '시군구'})

In [11]:
merged_final

,시군구,단지명,전용면적(㎡),거래금액(만원),층,건축년도,date,달러환율,기준금리,학원수
0,강원특별자치도 양구군 양구읍 상리,경림,59.4000,"5,000",11,1998.0,2005-09-23,1061.83,3.25,24
1,경기도 의정부시 신곡동,신일1,59.8780,"5,750",3,1997.0,2005-10-20,1077.02,3.50,1151
2,경기도 의정부시 신곡동,풍림,49.8300,"5,500",8,1998.0,2005-10-20,1077.02,3.50,1151
3,경기도 의정부시 민락동,한라비발디,84.9900,"12,750",19,2003.0,2005-10-30,1061.83,3.50,1151
4,경기도 의정부시 용현동,용현현대1차,129.7300,"12,200",11,1992.0,2005-11-21,1060.19,3.50,1151
...,...,...,...,...,...,...,...,...,...,...
10041446,충청남도 서산시 대산읍 대산리,한미,58.4700,"3,000",5,1992.0,2024-08-31,1408.72,3.50,363
10041447,경상북도 안동시 법흥동,안동강변펠리시아아파트,116.4457,"52,000",7,2017.0,2024-08-31,1408.72,3.50,390
10041448,경상북도 구미시 오태동,신한디아체101동102동,59.9800,"4,700",1,1999.0,2024-08-31,1408.72,3.50,1275
10041449,경상남도 양산시 동면 석산리,양산이지더원리버포레,78.2990,"34,200",15,2017.0,2024-08-31,1408.72,3.50,928
10041450,전북특별자치도 남원시 월락동,양우내안애아파트,59.9896,"20,900",15,2016.0,2024-08-31,1408.72,3.50,137

In [12]:
# 칼럼 순서를 지정
new_column_order = ['시군구', '단지명', '전용면적(㎡)', '거래금액(만원)', '층', '건축년도', '학원수', 'date', '기준금리', '달러환율']
merged_final= merged_final[new_column_order]
merged_final

,시군구,단지명,전용면적(㎡),거래금액(만원),층,건축년도,학원수,date,기준금리,달러환율
0,강원특별자치도 양구군 양구읍 상리,경림,59.4000,"5,000",11,1998.0,24,2005-09-23,3.25,1061.83
1,경기도 의정부시 신곡동,신일1,59.8780,"5,750",3,1997.0,1151,2005-10-20,3.50,1077.02
2,경기도 의정부시 신곡동,풍림,49.8300,"5,500",8,1998.0,1151,2005-10-20,3.50,1077.02
3,경기도 의정부시 민락동,한라비발디,84.9900,"12,750",19,2003.0,1151,2005-10-30,3.50,1061.83
4,경기도 의정부시 용현동,용현현대1차,129.7300,"12,200",11,1992.0,1151,2005-11-21,3.50,1060.19
...,...,...,...,...,...,...,...,...,...,...
10041446,충청남도 서산시 대산읍 대산리,한미,58.4700,"3,000",5,1992.0,363,2024-08-31,3.50,1408.72
10041447,경상북도 안동시 법흥동,안동강변펠리시아아파트,116.4457,"52,000",7,2017.0,390,2024-08-31,3.50,1408.72
10041448,경상북도 구미시 오태동,신한디아체101동102동,59.9800,"4,700",1,1999.0,1275,2024-08-31,3.50,1408.72
10041449,경상남도 양산시 동면 석산리,양산이지더원리버포레,78.2990,"34,200",15,2017.0,928,2024-08-31,3.50,1408.72
10041450,전북특별자치도 남원시 월락동,양우내안애아파트,59.9896,"20,900",15,2016.0,137,2024-08-31,3.50,1408.72

In [13]:
merged_final.isna().sum()

시군구         0
단지명         0
전용면적(㎡)     0
거래금액(만원)    0
층           0
건축년도        0
학원수         0
date        0
기준금리        0
달러환율        0
dtype: int64

In [14]:
# # 필요한 경우 병합된 데이터를 저장
# merged_final.to_csv("C:/fintech_service/06_machine_learning/data/real_final_merge_data.csv", index=False)