In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
data = pd.read_csv("C:/fintech_service/Data/프로젝트/분석시스템_경기도_카드매출_성연령별_집계.csv", encoding='cp949')
data

        기준년월  시군코드 성연령코드         매출금액  매출금액비율
0     202104  4165   M40  23404328979   13.44
1     202104  4167   M40  23567164646   14.90
2     202104  4180   M40   2791298085   12.37
3     202104  4182   M40   9567592822   13.63
4     202104  4183   M40  10861075062   11.62
...      ...   ...   ...          ...     ...
2785  202106  4165  F60O  16666944302    8.91
2786  202106  4167  F60O  12646779071    7.87
2787  202106  4180  F60O   2215855612    9.07
2788  202106  4182  F60O   6771717001    8.46
2789  202106  4183  F60O  13503949813   13.55

[2790 rows x 5 columns]

In [6]:
data['성연령코드'].unique()

array(['M40', 'M50', 'M60O', 'F10', 'F20', 'F30', 'F40', 'F50', 'F60O',
       'TOT', 'F', 'M', 'M10', 'M20', 'M30'], dtype=object)