In [ ]:
url = f"http://openapi.seoul.go.kr:8088/{os.getenv('seoul_s_key')}/xml/dreamMoney/1/5/"
payload = dict(serviceKey=os.getenv('seoul_s_key'),TYPE='xml', SERVICE='dreamMoney',START_INDEX=1, END_INDEX=)
r = requests.get(url, params=payload)
print(r.status_code)
print(r.text)

In [6]:
import requests
import os
from dotenv import load_dotenv
import pandas as pd
import time
from bs4 import BeautifulSoup as bs
load_dotenv()

True

In [7]:
url = f"http://openapi.seoul.go.kr:8088/{os.getenv('seoul_s_key')}/xml/dreamMoney/1/5/"

r = requests.get(url)
soup = bs(r.text, 'xml')
print(r.status_code)
print(r.text)

200
<?xml version="1.0" encoding="UTF-8"?><searchLoOrgIrList><list_total_count>7</list_total_count><RESULT><CODE>INFO-000</CODE><MESSAGE>정상 처리되었습니다.</MESSAGE></RESULT>    <row>        <lo_org_cd>B01</lo_org_cd>        <lo_org_nm>국민은행</lo_org_nm>        <base_str_dt>20240425</base_str_dt>        <base_end_dt>20240724</base_end_dt>        <lo_cnt>2185</lo_cnt>        <min_lo_ir>5</min_lo_ir>        <max_lo_ir>5.8</max_lo_ir>        <avg_lo_ir>5.31</avg_lo_ir>        <min_lo_ale_ir>1.75</min_lo_ale_ir>        <max_lo_ale_ir>2.5</max_lo_ale_ir>        <avg_lo_ale_ir>1.85</avg_lo_ale_ir>    </row>    <row>        <lo_org_cd>B02</lo_org_cd>        <lo_org_nm>농협은행</lo_org_nm>        <base_str_dt>20240425</base_str_dt>        <base_end_dt>20240724</base_end_dt>        <lo_cnt>1653</lo_cnt>        <min_lo_ir>5.22</min_lo_ir>        <max_lo_ir>5.9</max_lo_ir>        <avg_lo_ir>5.34</avg_lo_ir>        <min_lo_ale_ir>1.75</min_lo_ale_ir>        <max_lo_ale_ir>2.5</max_lo_ale_ir>        <avg_lo_ale_ir>1.87</avg_lo_ale_ir>    </row>    <row>        <lo_org_cd>B06</lo_org_cd>        <lo_org_nm>신한은행</lo_org_nm>        <base_str_dt>20240425</base_str_dt>        <base_end_dt>20240724</base_end_dt>        <lo_cnt>2176</lo_cnt>        <min_lo_ir>5.2</min_lo_ir>        <max_lo_ir>6</max_lo_ir>        <avg_lo_ir>5.33</avg_lo_ir>        <min_lo_ale_ir>1.75</min_lo_ale_ir>        <max_lo_ale_ir>2.5</max_lo_ale_ir>        <avg_lo_ale_ir>1.86</avg_lo_ale_ir>    </row>    <row>        <lo_org_cd>B07</lo_org_cd>        <lo_org_nm>우리은행</lo_org_nm>        <base_str_dt>20240425</base_str_dt>        <base_end_dt>20240724</base_end_dt>        <lo_cnt>3591</lo_cnt>        <min_lo_ir>5.22</min_lo_ir>        <max_lo_ir>5.78</max_lo_ir>        <avg_lo_ir>5.34</avg_lo_ir>        <min_lo_ale_ir>1.75</min_lo_ale_ir>        <max_lo_ale_ir>2.5</max_lo_ale_ir>        <avg_lo_ale_ir>1.84</avg_lo_ale_ir>    </row>    <row>        <lo_org_cd>B08</lo_org_cd>        <lo_org_nm>기업은행</lo_org_nm>        <base_str_dt>20240425</base_str_dt>        <base_end_dt>20240724</base_end_dt>        <lo_cnt>644</lo_cnt>        <min_lo_ir>5.03</min_lo_ir>        <max_lo_ir>5.8</max_lo_ir>        <avg_lo_ir>5.35</avg_lo_ir>        <min_lo_ale_ir>1.75</min_lo_ale_ir>        <max_lo_ale_ir>2.5</max_lo_ale_ir>        <avg_lo_ale_ir>1.91</avg_lo_ale_ir>    </row></searchLoOrgIrList>

In [8]:
for item in soup.find_all('row'):
    print(item.name)

row
row
row
row
row

In [9]:
for item in soup.find_all('row'):
    for tag in item:
        print(tag.name)

None
lo_org_cd
None
lo_org_nm
None
base_str_dt
None
base_end_dt
None
lo_cnt
None
min_lo_ir
None
max_lo_ir
None
avg_lo_ir
None
min_lo_ale_ir
None
max_lo_ale_ir
None
avg_lo_ale_ir
None
None
lo_org_cd
None
lo_org_nm
None
base_str_dt
None
base_end_dt
None
lo_cnt
None
min_lo_ir
None
max_lo_ir
None
avg_lo_ir
None
min_lo_ale_ir
None
max_lo_ale_ir
None
avg_lo_ale_ir
None
None
lo_org_cd
None
lo_org_nm
None
base_str_dt
None
base_end_dt
None
lo_cnt
None
min_lo_ir
None
max_lo_ir
None
avg_lo_ir
None
min_lo_ale_ir
None
max_lo_ale_ir
None
avg_lo_ale_ir
None
None
lo_org_cd
None
lo_org_nm
None
base_str_dt
None
base_end_dt
None
lo_cnt
None
min_lo_ir
None
max_lo_ir
None
avg_lo_ir
None
min_lo_ale_ir
None
max_lo_ale_ir
None
avg_lo_ale_ir
None
None
lo_org_cd
None
lo_org_nm
None
base_str_dt
None
base_end_dt
None
lo_cnt
None
min_lo_ir
None
max_lo_ir
None
avg_lo_ir
None
min_lo_ale_ir
None
max_lo_ale_ir
None
avg_lo_ale_ir
None

In [10]:
keys={}
for item in soup.find_all('row'):
    for tag in item:
        
        keys.setdefault(tag.name, "")
keys

{None: '',
 'lo_org_cd': '',
 'lo_org_nm': '',
 'base_str_dt': '',
 'base_end_dt': '',
 'lo_cnt': '',
 'min_lo_ir': '',
 'max_lo_ir': '',
 'avg_lo_ir': '',
 'min_lo_ale_ir': '',
 'max_lo_ale_ir': '',
 'avg_lo_ale_ir': ''}

In [11]:
keys={}
for item in soup.find_all('row'):
    for tag in item:
        if tag.name == None:
            continue
        else:
            keys.setdefault(tag.name,"")
for key in keys:
    print(soup.find_all(key))

[<lo_org_cd>B01</lo_org_cd>, <lo_org_cd>B02</lo_org_cd>, <lo_org_cd>B06</lo_org_cd>, <lo_org_cd>B07</lo_org_cd>, <lo_org_cd>B08</lo_org_cd>]
[<lo_org_nm>국민은행</lo_org_nm>, <lo_org_nm>농협은행</lo_org_nm>, <lo_org_nm>신한은행</lo_org_nm>, <lo_org_nm>우리은행</lo_org_nm>, <lo_org_nm>기업은행</lo_org_nm>]
[<base_str_dt>20240425</base_str_dt>, <base_str_dt>20240425</base_str_dt>, <base_str_dt>20240425</base_str_dt>, <base_str_dt>20240425</base_str_dt>, <base_str_dt>20240425</base_str_dt>]
[<base_end_dt>20240724</base_end_dt>, <base_end_dt>20240724</base_end_dt>, <base_end_dt>20240724</base_end_dt>, <base_end_dt>20240724</base_end_dt>, <base_end_dt>20240724</base_end_dt>]
[<lo_cnt>2185</lo_cnt>, <lo_cnt>1653</lo_cnt>, <lo_cnt>2176</lo_cnt>, <lo_cnt>3591</lo_cnt>, <lo_cnt>644</lo_cnt>]
[<min_lo_ir>5</min_lo_ir>, <min_lo_ir>5.22</min_lo_ir>, <min_lo_ir>5.2</min_lo_ir>, <min_lo_ir>5.22</min_lo_ir>, <min_lo_ir>5.03</min_lo_ir>]
[<max_lo_ir>5.8</max_lo_ir>, <max_lo_ir>5.9</max_lo_ir>, <max_lo_ir>6</max_lo_ir>, <max_lo_ir>5.78</max_lo_ir>, <max_lo_ir>5.8</max_lo_ir>]
[<avg_lo_ir>5.31</avg_lo_ir>, <avg_lo_ir>5.34</avg_lo_ir>, <avg_lo_ir>5.33</avg_lo_ir>, <avg_lo_ir>5.34</avg_lo_ir>, <avg_lo_ir>5.35</avg_lo_ir>]
[<min_lo_ale_ir>1.75</min_lo_ale_ir>, <min_lo_ale_ir>1.75</min_lo_ale_ir>, <min_lo_ale_ir>1.75</min_lo_ale_ir>, <min_lo_ale_ir>1.75</min_lo_ale_ir>, <min_lo_ale_ir>1.75</min_lo_ale_ir>]
[<max_lo_ale_ir>2.5</max_lo_ale_ir>, <max_lo_ale_ir>2.5</max_lo_ale_ir>, <max_lo_ale_ir>2.5</max_lo_ale_ir>, <max_lo_ale_ir>2.5</max_lo_ale_ir>, <max_lo_ale_ir>2.5</max_lo_ale_ir>]
[<avg_lo_ale_ir>1.85</avg_lo_ale_ir>, <avg_lo_ale_ir>1.87</avg_lo_ale_ir>, <avg_lo_ale_ir>1.86</avg_lo_ale_ir>, <avg_lo_ale_ir>1.84</avg_lo_ale_ir>, <avg_lo_ale_ir>1.91</avg_lo_ale_ir>]

In [12]:
keys={}
for item in soup.find_all('row'):
    for tag in item:
        if tag.name == None:
            continue
        else:
            keys.setdefault(tag.name,"")
result = {}
for key in keys:
    for item in soup.find_all(key):
        result.setdefault(item.name, []).append(item.string)

result_df = pd.DataFrame(result)
result_df

,lo_org_cd,lo_org_nm,base_str_dt,base_end_dt,lo_cnt,min_lo_ir,max_lo_ir,avg_lo_ir,min_lo_ale_ir,max_lo_ale_ir,avg_lo_ale_ir
0,B01,국민은행,20240425,20240724,2185,5,5.8,5.31,1.75,2.5,1.85
1,B02,농협은행,20240425,20240724,1653,5.22,5.9,5.34,1.75,2.5,1.87
2,B06,신한은행,20240425,20240724,2176,5.2,6,5.33,1.75,2.5,1.86
3,B07,우리은행,20240425,20240724,3591,5.22,5.78,5.34,1.75,2.5,1.84
4,B08,기업은행,20240425,20240724,644,5.03,5.8,5.35,1.75,2.5,1.91

In [ ]:
result_dfs = []
page = 1

while True:
    url = f"http://openapi.seoul.go.kr:8088/{os.getenv('seoul_s_key')}/xml/dreamMoney/1/5/"
    payload = dict(serviceKey=os.getenv('seoul_s_key'),TYPE=page, SERVICE='dreamMoney',START_INDEX=1, END_INDEX=)
    r = requests.get(url, params=payload)
    print(r.status_code)
    data = r.text
    soup = BeautifulSoup(data, 'xml')
    total_pages = int(soup.find('totalCount').string) // int(soup.find('numOfRows').string) + 1
    print(f"{page}/{total_pages} 수집중", end="\r")
    keys = {}
    for tags in soup.find_all()[10:]:
        if tags.name == 'item':
            continue
        else:
            keys.setdefault(f"{tags.name}", "")
    result2 = {}
    for key in keys:
        for item in soup.find_all(key):
            result2.setdefault(key, []).append(item.string)
    result_dfs.append(pd.DataFrame(result2))

    if page < total_pages:
            page += 1
    else:
        break

final_df = pd.DataFrame()           
for df in result_dfs:
    final_df = pd.concat([final_df, df])
final_df