# 문자열 사용하기, 문자열 함수

1. 문자열 사용하기의 기본

" 따옴표 안에 문자를 넣어서 문자열을 만든다.
' 도 가능

In [1]:
hello ='hello, world'
hello

'hello, world'

In [2]:
hello2 ="hello, world"
hello2

'hello, world'

In [3]:
hello3 ="hello, 'world'"
hello3

"hello, 'world'"

In [ ]:
#홀따옴표 안에 쌍따옴, 쌍따옴표안에 홀따옴표 가능

여러 줄로 된 문자열 사용하기
'''내용'''
"""내용"""

In [4]:
hello5= '''
안녕하세요.
파이썬 수업입니다.
'''
hello5

'\n안녕하세요.\n파이썬 수업입니다.\n'

In [5]:
print(hello5)

안녕하세요.
파이썬 수업입니다.

In [6]:
hello6= """
안녕하세요.
파이썬 수업입니다.
"""
hello6

'\n안녕하세요.\n파이썬 수업입니다.\n'

In [7]:
print(hello6)

안녕하세요.
파이썬 수업입니다.

문자열에서 이스케이프문자(\n,\t,\r) <br>
\n: 줄바꿈 (new line) <br>
\t: 탭 tap  4~8칸 공백<br>
\r: 캐리지리턴 현재 줄의 제일 왼쪽 끝으로 커서 이동

In [9]:
h1 = "파이썬에서 줄바꿈은 \\n으로 합니다. \n\n\n3줄 줄바꿈 끝"
print(h1)

파이썬에서 줄바꿈은 \n으로 합니다.


3줄 줄바꿈 끝

In [11]:
h2 ="탭으로 공간을 띄우는 것은 \\t \t로 합니다."
print(h2)

탭으로 공간을 띄우는 것은 \t 	로 합니다.

In [14]:
h3= "캐리지 리턴은 \\r입니다. \n커서가 같은 줄 가장 앞으로 이동하기 때문에 \r글자가 겹쳐져서 지워졌습니다"
print(h3)

캐리지 리턴은 \r입니다.
글자가 겹쳐져서 지워졌습니다

# 인덱스와 문자열
* 문자: 문자는 글자 1개
* 문자열: 문자열은 글자가 여러개, 순서, 번호, 인덱스가 있다. 
문자하나하나마다 순서가 부여되어 있다. 리스트와 튜플처럼

In [16]:
h4= "문자열은 왼쪽부터 번호를 매길 수 있으며 시작은 0번부터 입니다."
print(h4)

문자열은 왼쪽부터 번호를 매길 수 있으며 시작은 0번부터 입니다.

In [ ]:
# 문자열은 왼쪽부터 순서가 매겨져 있다
# 따옴표로 묶어서 문자열이 된거고, 한글자가 아니라 여러글자가 들어있는것.
# 인덱스로 꺼내 쓸 수 있다 !

In [17]:
h4[0:5] #0번부터4번까지

'문자열은 '

In [19]:
h4[10:22]

'번호를 매길 수 있으며'

In [20]:
h4[-1]

'.'

In [21]:
h4[-5:]

' 입니다.'

In [ ]:
#앞을 생략하면 앞을 다가져오는것, 뒤를 생략하면 뒤를 다 가져 오라는 것

In [22]:
h4[7:] #7번부터 끝까지

'부터 번호를 매길 수 있으며 시작은 0번부터 입니다.'

In [25]:
h4[:] #전체

'문자열은 왼쪽부터 번호를 매길 수 있으며 시작은 0번부터 입니다.'

In [24]:
h4[1:11:2]# 시작:끝:스텝
#처음부터 끝까지 두칸씩 뜨

'자은왼부 '

In [26]:
h4[::-1]

'.다니입 터부번0 은작시 며으있 수 길매 를호번 터부쪽왼 은열자문'

In [27]:
#인덱싱의 주의할점은 [시작:끝:스텝] ->시작~끝-1까지 가져오는데 스텝을 가지며

## 문자열 함수
* .replace()
* . split()
* .join()
* .strip()
*

1.

    1. 문자열 바꾸기
     - replace함수는 사용 후 결과를 재할당 해야 함.

In [28]:
h5 = "Hello, Python"
h5

'Hello, Python'

In [29]:
h5.replace('Python', 'world')  #결과만 바꾸고 원본은 바뀌지 않는다

'Hello, world'

In [30]:
h5

'Hello, Python'

In [31]:
h5= h5.replace('Python', 'world') 
h5

'Hello, world'

In [ ]:
#두가지 종류의 함수
#함수사용하자마자 원본바뀌는애들
#결과값은 출력되는데 원본은 바뀌지 않는 애들

In [ ]:
sort #사용하자마자 재할당할필요없이 바로 바뀐다
sorted

* str .maketrans('찾을문자', '바꿀문자', '추가로 없앨문자')로 변환 테이블 생성
* translate로 문자를 찾아서 바꿈

In [32]:
table = str.maketrans('abcdefg', '1234567')

In [33]:
h5.translate(table)

'H5llo, worl4'

In [35]:
table = str.maketrans('abcdefg', '1234567','lor')

In [36]:
h5.translate(table)

'H5, w4'

In [37]:
h5.translate( str.maketrans('abcdefg', '1234567','lor'))

'H5, w4'

In [38]:
h5.translate( str.maketrans('', '','lor'))

'He, wd'

In [39]:
h4

'문자열은 왼쪽부터 번호를 매길 수 있으며 시작은 0번부터 입니다.'

In [40]:
h4.translate( str.maketrans('', '','0.'))

'문자열은 왼쪽부터 번호를 매길 수 있으며 시작은 번부터 입니다'

In [41]:
h4.translate( str.maketrans('', '','0. '))  #공백도 문자이기때문에 공백을 하나 넣어주면 공백도 없어진다

'문자열은왼쪽부터번호를매길수있으며시작은번부터입니다'

2. 문자열 분리하기 .split()
* 스플릿은 기본이 공백을 기준으로 문자열을 분리해 **리스트**로 만들어 줌.

In [42]:
h4

'문자열은 왼쪽부터 번호를 매길 수 있으며 시작은 0번부터 입니다.'

In [45]:
h4_1=h4.split()

In [46]:
h4_1

['문자열은', '왼쪽부터', '번호를', '매길', '수', '있으며', '시작은', '0번부터', '입니다.']

In [47]:
print(type(h4_1))

<class 'list'>

In [48]:
h4.split() #기본 구분자는 공백이다.

['문자열은', '왼쪽부터', '번호를', '매길', '수', '있으며', '시작은', '0번부터', '입니다.']

In [49]:
h6="'문자열은', '왼쪽부터', '번호를', '매길', '수', '있으며', '시작은', '0번부터', '입니다.'"
print(h6)
type(h6)

'문자열은', '왼쪽부터', '번호를', '매길', '수', '있으며', '시작은', '0번부터', '입니다.'

str

In [50]:
h6.split()

["'문자열은',",
 "'왼쪽부터',",
 "'번호를',",
 "'매길',",
 "'수',",
 "'있으며',",
 "'시작은',",
 "'0번부터',",
 "'입니다.'"]

In [ ]:
#공백으로 구분 안하고 콤마로 잘라서 리스트로 만들고 싶다면?
#split괄호안에다가 콤마쓰기

In [51]:
h6.split(",")[0]   #h6.split(",") ->리스트이다 ->순서존재 ->인덱싱, 슬라이스 가능

"'문자열은'"

In [ ]:
#앞 결과에 따라서 뒷 계산 - 앞결과가 리스트이니까 뒷 계산 가능

In [52]:
h6.split(",")

["'문자열은'",
 " '왼쪽부터'",
 " '번호를'",
 " '매길'",
 " '수'",
 " '있으며'",
 " '시작은'",
 " '0번부터'",
 " '입니다.'"]

In [53]:
# 공백도 깔끔하게 빼고 싶다면

In [54]:
h6.split(", ")

["'문자열은'",
 "'왼쪽부터'",
 "'번호를'",
 "'매길'",
 "'수'",
 "'있으며'",
 "'시작은'",
 "'0번부터'",
 "'입니다.'"]

In [55]:
h7="사과, 배, 포도, 파인애플, 망고, 오렌지"  #리스트로 만들고 싶다면?

In [56]:
h7_1= h7.split(", ")
h7_1

['사과', '배', '포도', '파인애플', '망고', '오렌지']

3. 리스트를 1개의 문자열로 합치기<br>
합칠 기준 -> .join(list)

In [57]:
h7_1

['사과', '배', '포도', '파인애플', '망고', '오렌지']

In [61]:
h8= ", ".join(h7_1)

In [62]:
h8

'사과, 배, 포도, 파인애플, 망고, 오렌지'

split : 리스트로 변경! <br>
.join : 문자열로 변경!

In [63]:
h9 = ['iron man', 'spider-man', 'black widow', 'hulk']

In [66]:
# "vs"를 넣어서 리스트를 문자열로 만드세요
h9_1 = " vs ".join(h9)

In [65]:
h9_1

'iron man vs spider-man vs black widow vs hulk'

4. 소문자를 대문자로, 대문자를 소문자로 바꾸는 함수 <br>
- .upper(), .lower()

In [67]:
h10= h9_1.upper()
h10

'IRON MAN VS SPIDER-MAN VS BLACK WIDOW VS HULK'

In [68]:
h10= h9_1.lower()
h10

'iron man vs spider-man vs black widow vs hulk'

5. 왼쪽, 오른쪽, 양쪽 공백/특정 문자 삭제하기
- .Istrip(): 왼쪽
- .rstrip(): 오른쪽
- .strip()

In [69]:
h11 = " 공백이 있는 문자열     "

In [70]:
h11

' 공백이 있는 문자열     '

In [71]:
h11.rstrip()

' 공백이 있는 문자열'

In [77]:
h12 = "  ... , 공백과 특수문자가 같이 있는 문자열 !!  ^^ ....  "
h12

'  ... , 공백과 특수문자가 같이 있는 문자열 !!  ^^ ....  '

In [78]:
h12.lstrip()

'... , 공백과 특수문자가 같이 있는 문자열 !!  ^^ ....  '

In [79]:
h12.rstrip()

'  ... , 공백과 특수문자가 같이 있는 문자열 !!  ^^ ....'

In [80]:
h12.strip()

'... , 공백과 특수문자가 같이 있는 문자열 !!  ^^ ....'

In [81]:
h12.lstrip(".. ")  #점과 공백을 넣어 없앤다

', 공백과 특수문자가 같이 있는 문자열 !!  ^^ ....  '

In [82]:
h12.rstrip(" .^!")

'  ... , 공백과 특수문자가 같이 있는 문자열'

In [83]:
h12.strip(" .,!^")

'공백과 특수문자가 같이 있는 문자열'

In [ ]:
# 제일 바깥쪽 공백만 없어지고 중간에 있는 공백은 없애지 않는다.
# 특수문자도 없애지 않는다.

In [85]:
h13= "  ... , 공백과 특수   문자가\n ^^ 같이 있는 \t문자열 !!  ^^ ....  "
print(h13)

  ... , 공백과 특수   문자가
 ^^ 같이 있는 	문자열 !!  ^^ ....

    6. 메서드 체이닝(method(함수) chaining)으로 여러함수 동시에 사용하기

In [86]:
#문자열 깨끗하게 만들 수 있어야 나중에 리뷰같은 데이터 깔끔하게 뽑아낼 수 있음
h13.strip(" ,.!^")

'공백과 특수   문자가\n ^^ 같이 있는 \t문자열'

In [89]:
h13.strip(" ,.!^").replace("^","")

'공백과 특수   문자가\n  같이 있는 \t문자열'

In [93]:
h13.strip(" ,.!^").replace("^","").replace("\n","").replace("\t","").replace("  ","")

'공백과 특수 문자가같이 있는 문자열'

In [94]:
h13.translate( str.maketrans('', '',',.^!\n\t'))

'    공백과 특수   문자가  같이 있는 문자열      '

In [97]:
h13.translate( str.maketrans('', '',',.^!\n\t')).replace("  ","")

'공백과 특수 문자가같이 있는 문자열'

* string.punctuation을 이용해 특수문자 제거하기

In [98]:
import string

In [99]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [100]:
h13

'  ... , 공백과 특수   문자가\n ^^ 같이 있는 \t문자열 !!  ^^ ....  '

In [101]:
# 특수문자 제외한 값들만 깔끔하게 보고 싶을때
h13.translate( str.maketrans('', '',string.punctuation))

'    공백과 특수   문자가\n  같이 있는 \t문자열      '

In [103]:
h13.translate( str.maketrans('', '',string.punctuation)).replace("\n","").replace("\t","").strip()

'공백과 특수   문자가  같이 있는 문자열'

In [110]:
test1 = '''344,622642,더 호텔 수 (THE HOTEL SOO),family,1박 가족 여행,2018년 5월 21일,8.0,"위치 : 이순신 광장과는 반대편이라 차량으로 이동해야 합니다. 루프탑에서의
바다 경치는 좋습니다.
시설 : 깔끔하고 좋습니다. 패밀리룸을 사용 했는데 저녁6시쯤 갔더니 마지막 방이라며 2층을 배정 받았습니다. 창문을 여니 약간 쓰레기 냄새가 났고 바다가 보이지 않습니다.        
루프탑 : 바베큐 세트가 저렴 했던거 같고 경치가 좋습니다. 수영장도 있었는데 계절이 아닌지.... 
    하지만 여름이면 좋을것 같습니다. 주차장은 장소가 넓지 않았던거 같고, 저녁에 나갔다 왔더니 야외 공터에 차를 대라고 하였습니다.    
주말 저녁이라 그런지 가격을 제법 비싸게 준거 같은데... 2층이라 마음에 들지 않았습니다. 옆에 조선소 같은게 있어 쫌 보기에 좋지 않았습니다......................................'''

In [122]:
r1=test1.split(",")
r1

['344',
 '622642',
 '더 호텔 수 (THE HOTEL SOO)',
 'family',
 '1박 가족 여행',
 '2018년 5월 21일',
 '8.0',
 '"위치 : 이순신 광장과는 반대편이라 차량으로 이동해야 합니다. 루프탑에서의\n바다 경치는 좋습니다.\n시설 : 깔끔하고 좋습니다. 패밀리룸을 사용 했는데 저녁6시쯤 갔더니 마지막 방이라며 2층을 배정 받았습니다. 창문을 여니 약간 쓰레기 냄새가 났고 바다가 보이지 않습니다.        \n루프탑 : 바베큐 세트가 저렴 했던거 같고 경치가 좋습니다. 수영장도 있었는데 계절이 아닌지.... \n    하지만 여름이면 좋을것 같습니다. 주차장은 장소가 넓지 않았던거 같고',
 ' 저녁에 나갔다 왔더니 야외 공터에 차를 대라고 하였습니다.    \n주말 저녁이라 그런지 가격을 제법 비싸게 준거 같은데... 2층이라 마음에 들지 않았습니다. 옆에 조선소 같은게 있어 쫌 보기에 좋지 않았습니다......................................']

In [128]:
hid= r1[0]+r1[1]
print("hid: ",hid)

hid:  344622642

In [181]:
hid= r1[:2]
print("hid: ",",".join(hid))

hid:  344,622642

In [131]:
hotel_name_k=r1[2].split(" (")
print("hotel_name_k: ",hotel_name_k[0])

hotel_name_k:  더 호텔 수

In [133]:
hotel_name_e=r1[2].split(" (")
print("hotel_name_e: ",hotel_name_k[1].rstrip(")"))

hotel_name_e:  THE HOTEL SOO

In [135]:
print("trip_type: ",r1[3])

trip_type:  family

In [136]:
print("trip_type2: ",r1[4])

trip_type2:  1박 가족 여행

In [137]:
print("trip_date: ",r1[5])

trip_date:  2018년 5월 21일

In [138]:
print("rating: ",r1[6])

rating:  8.0

In [161]:
print("review: ")
rel=r1[7:]
aaa = ", ".join(rel)
aaa.translate( str.maketrans('', '',string.punctuation)).replace("  ","").replace("\n","").strip()

review:

'위치이순신 광장과는 반대편이라 차량으로 이동해야 합니다 루프탑에서의바다 경치는 좋습니다시설깔끔하고 좋습니다 패밀리룸을 사용 했는데 저녁6시쯤 갔더니 마지막 방이라며 2층을 배정 받았습니다 창문을 여니 약간 쓰레기 냄새가 났고 바다가 보이지 않습니다루프탑바베큐 세트가 저렴 했던거 같고 경치가 좋습니다 수영장도 있었는데 계절이 아닌지 하지만 여름이면 좋을것 같습니다 주차장은 장소가 넓지 않았던거 같고저녁에 나갔다 왔더니 야외 공터에 차를 대라고 하였습니다주말 저녁이라 그런지 가격을 제법 비싸게 준거 같은데 2층이라 마음에 들지 않았습니다 옆에 조선소 같은게 있어 쫌 보기에 좋지 않았습니다'

In [166]:
test2= "18062,427535,파크 하얏트 부산 (Park Hyatt Busan),family,2박 가족 여행,2019년 12월 29일,10.0,결혼 1주년 기념으로 아이랑 신랑이랑 다녀왔어요~ 룸컨디션 너무 좋았고 뷰가 최고였습니다! 2박 머물렀는데 청소도 깔끔하게 해주시고 애기가 이불에 살짝 토했는데도 바로 갈아주시고 좋았습니다~ 대신 창가쪽 커튼 한쪽이 떨어져있어서 조금 거슬렸구요... 창가에 침실이 있다보니 암막커튼을 치지 않으면 조금 쌀쌀한 느낌은 있었어요! 아 그리고 아기때문에 침대에 가드를 부탁드렸는데 가드가 너무 별로였습니다... 가드 구실을 못하고 넘 허술하게 매트리스 아래 그냥 끼워진거라 아기가 밤새 두번이나 가드사이에 빠졌습니다... 이점 좀 아쉬워요 ! 그 외에는 다이닝룸 리빙룸, 바까지 모두 이용했는데 서비스 좋았습니다~~!"

In [167]:
r2=test2.split(",")
r2

['18062',
 '427535',
 '파크 하얏트 부산 (Park Hyatt Busan)',
 'family',
 '2박 가족 여행',
 '2019년 12월 29일',
 '10.0',
 '결혼 1주년 기념으로 아이랑 신랑이랑 다녀왔어요~ 룸컨디션 너무 좋았고 뷰가 최고였습니다! 2박 머물렀는데 청소도 깔끔하게 해주시고 애기가 이불에 살짝 토했는데도 바로 갈아주시고 좋았습니다~ 대신 창가쪽 커튼 한쪽이 떨어져있어서 조금 거슬렸구요... 창가에 침실이 있다보니 암막커튼을 치지 않으면 조금 쌀쌀한 느낌은 있었어요! 아 그리고 아기때문에 침대에 가드를 부탁드렸는데 가드가 너무 별로였습니다... 가드 구실을 못하고 넘 허술하게 매트리스 아래 그냥 끼워진거라 아기가 밤새 두번이나 가드사이에 빠졌습니다... 이점 좀 아쉬워요 ! 그 외에는 다이닝룸 리빙룸',
 ' 바까지 모두 이용했는데 서비스 좋았습니다~~!']

In [178]:
print("review: ")
rel2=r2[7:]
bbb = ", ".join(rel2)
bbb.translate( str.maketrans('', '',string.punctuation)).replace("  ","")

review:

'결혼 1주년 기념으로 아이랑 신랑이랑 다녀왔어요 룸컨디션 너무 좋았고 뷰가 최고였습니다 2박 머물렀는데 청소도 깔끔하게 해주시고 애기가 이불에 살짝 토했는데도 바로 갈아주시고 좋았습니다 대신 창가쪽 커튼 한쪽이 떨어져있어서 조금 거슬렸구요 창가에 침실이 있다보니 암막커튼을 치지 않으면 조금 쌀쌀한 느낌은 있었어요 아 그리고 아기때문에 침대에 가드를 부탁드렸는데 가드가 너무 별로였습니다 가드 구실을 못하고 넘 허술하게 매트리스 아래 그냥 끼워진거라 아기가 밤새 두번이나 가드사이에 빠졌습니다 이점 좀 아쉬워요그 외에는 다이닝룸 리빙룸바까지 모두 이용했는데 서비스 좋았습니다'

In [174]:
test3 = """112731,239840,서귀포 칼 호텔 (Seogwipo KAL Hotel),family,3박 가족 여행,2020년 11월 19일,8.0,넓디넓은 정원과 산책로 덕분에 코로나 시대 언택트 여행에 좋았구요. 조용하고 한적하게 잘 쉬었어요.
아무래도 서귀포가 제주시쪽보단 사람도 적어서 오히려 편하면서, 주변에 식당이나 까페, 편의점 갈때도 걸어서도 다녀올 입지라 좋습니다.
실내 수영장은 생각만큼? 작은 규모라 오히려 사람 없이 잘 놀았어요ㅎㅎ 
라운지바가 넓고 층고도 높아서 커피나 맥주 먹으며 쉬기에 좋고요.
매일 주시는 1.5리터 생수ㅎㅎ별거 아닐수 있지만 매우 감사했구요.
다만 층수가 낮은 방이어서 그런가 모기가 있었어요^^;; 그외에는 다 깨끗했구요. 
매트리스가 오래됐는지 묘하게 불편해서 허리가 아프긴 하더라고요;; 다행히? 세미온돌이라 바닥에서 자는게 오히려 나았고요
조식은...최근 후기가 다 별로라길래 하루만 가봤는데 역시;;ㅎ 뭐 저렴하기도 하지만.. 저는 나가서 먹었습니다."""

In [175]:
r3=test3.split(",")
r3

['112731',
 '239840',
 '서귀포 칼 호텔 (Seogwipo KAL Hotel)',
 'family',
 '3박 가족 여행',
 '2020년 11월 19일',
 '8.0',
 '넓디넓은 정원과 산책로 덕분에 코로나 시대 언택트 여행에 좋았구요. 조용하고 한적하게 잘 쉬었어요.\n아무래도 서귀포가 제주시쪽보단 사람도 적어서 오히려 편하면서',
 ' 주변에 식당이나 까페',
 ' 편의점 갈때도 걸어서도 다녀올 입지라 좋습니다.\n실내 수영장은 생각만큼? 작은 규모라 오히려 사람 없이 잘 놀았어요ㅎㅎ \n라운지바가 넓고 층고도 높아서 커피나 맥주 먹으며 쉬기에 좋고요.\n매일 주시는 1.5리터 생수ㅎㅎ별거 아닐수 있지만 매우 감사했구요.\n다만 층수가 낮은 방이어서 그런가 모기가 있었어요^^;; 그외에는 다 깨끗했구요. \n매트리스가 오래됐는지 묘하게 불편해서 허리가 아프긴 하더라고요;; 다행히? 세미온돌이라 바닥에서 자는게 오히려 나았고요\n조식은...최근 후기가 다 별로라길래 하루만 가봤는데 역시;;ㅎ 뭐 저렴하기도 하지만.. 저는 나가서 먹었습니다.']

In [177]:
print("review: ")
rel3=r3[7:]
ccc = ", ".join(rel3)
ccc.translate( str.maketrans('', '',string.punctuation)).replace("  ","").replace("ㅎ","").replace("15","1.5").replace("\n","").strip()

review:

'넓디넓은 정원과 산책로 덕분에 코로나 시대 언택트 여행에 좋았구요 조용하고 한적하게 잘 쉬었어요아무래도 서귀포가 제주시쪽보단 사람도 적어서 오히려 편하면서주변에 식당이나 까페편의점 갈때도 걸어서도 다녀올 입지라 좋습니다실내 수영장은 생각만큼 작은 규모라 오히려 사람 없이 잘 놀았어요 라운지바가 넓고 층고도 높아서 커피나 맥주 먹으며 쉬기에 좋고요매일 주시는 1.5리터 생수별거 아닐수 있지만 매우 감사했구요다만 층수가 낮은 방이어서 그런가 모기가 있었어요 그외에는 다 깨끗했구요 매트리스가 오래됐는지 묘하게 불편해서 허리가 아프긴 하더라고요 다행히 세미온돌이라 바닥에서 자는게 오히려 나았고요조식은최근 후기가 다 별로라길래 하루만 가봤는데 역시 뭐 저렴하기도 하지만 저는 나가서 먹었습니다'