# 함수 만들기

### print(), split(), input() => 함수
* 함수의 괄호 안에 값을 넣으면 출력을 해주거나 입력을 받거나 변환을 해 줌
* 도구
* function() -> 기능
* 자주 사용하는 기능을 미리 만들어서 **반복 재사용**할 수 있게 만드는 것

In [1]:
L =[1,2,3,4,5]
for i in L:
    print(i)

1
2
3
4
5

In [3]:
L =[1,2,3,4,5]
result = []
for i in L:
    result.append(i*10)
result

[10, 20, 30, 40, 50]

## 1) 함수 만드는 법
def 함수이름(): <br>
____실행코드 <br>
____return 리턴 값

In [4]:
def hello():
    print("hello 파이썬 함수 만들기")

In [5]:
hello()

hello 파이썬 함수 만들기

In [6]:
#우리가 만들었지만 아무것도 하지 않는다. 불러야 실행한다. 부르기만하면 계속 실행

## 2) 함수 호출순서
* 함수는 호출하기 전에 반드시 먼저 정의되어야 하고(만들어 놓아야 함)
* 함수 정의가 함수 실행보다 위에 있어야 한다.

In [ ]:
def circle(c):
    print("원의 넓이는: ", c*c*3.14, "입니다.")

매개변수 2개짜리 함수 - 덧셈 함수 만들기

In [8]:
def add(a,b):
    return a+b

In [9]:
result = add(10,3)
print("result: ", result)

result:  13

In [10]:
add (999, 123456789)

123457788

매개 변수 3개짜리 함수 - a: 시작, b: 끝, c: 증감 <br>
interval이라는 이름의 함수를 만드세요 <br>
숫자를 입력받아 시작, 끝, 증감이 반영되게 출력하세요. <br>
interval(1,10,2) <br>
1,3,5,7,9

In [11]:
def num_maker(a,b,c):
    print([i for i in range(a,b,c)])

In [12]:
num_maker(1,10,2)

[1, 3, 5, 7, 9]

In [15]:
result = num_maker(1,10,2)
print(result)
#리턴이 없으면 result에 입력 받지 못해

[1, 3, 5, 7, 9]
None

In [16]:
def num_maker(a,b,c):
    result=[i for i in range(a,b,c)]
    return result

In [17]:
result = num_maker(1,10,2)
print(result)

[1, 3, 5, 7, 9]

리턴값이 여러개인 함수

In [20]:
def add_sub(a,b) :
    add = a+b
    sub = a-b
    return add, sub

In [22]:
result = add_sub(7,3)
print(type(result))

<class 'tuple'>

In [23]:
#여러개를 리턴할 경우에는 튜플로 나온다

In [24]:
a=1
b=3

In [25]:
t=a,b

In [26]:
t

(1, 3)

In [28]:
for i in enumerate(range(1,11)):
    print(type(i),i)

<class 'tuple'> (0, 1)
<class 'tuple'> (1, 2)
<class 'tuple'> (2, 3)
<class 'tuple'> (3, 4)
<class 'tuple'> (4, 5)
<class 'tuple'> (5, 6)
<class 'tuple'> (6, 7)
<class 'tuple'> (7, 8)
<class 'tuple'> (8, 9)
<class 'tuple'> (9, 10)

num_maker2- 정방향, 역방향 리스트 출력

In [31]:
def num_maker2(a,b,c):
    asc = [i for i in range(a,b,c)]
    desc = [i for i in range(a,b,c)][::-1]
    return asc, desc

In [32]:
num_maker2(1,10,2)

([1, 3, 5, 7, 9], [9, 7, 5, 3, 1])

In [33]:
#여러개를 반환할 수 있는데, 사실 결국엔 튜플 한개이다! 튜플 한개로 반환되는 것.
#리스트 두개가 튜플 한개로 묶여서 나온다

## 4) 중간에 함수를 종료시키기 위한 용도의 return
* 반복문에서 break로 반복을 중지시키는 것처럼 함수에서 return이 실행되면 함수는 종료

1-10까지 숫자중에 짝수만 출력하다가 7이상이 되면 종료하기

In [45]:
age= range(1,11)

In [51]:
def even(a):
    for i in a:
        if i%2 == 0:
            print(i, end = " ")
        elif i >=7:
            break

In [52]:
def even2(a):
    for i in a:
        if i%2 == 0:
            print(i, end = " ")
        elif i >=7:
            return

In [53]:
even(age)

2 4 6

In [54]:
even2(age)

2 4 6

1-100까지 숫자 중에 홀수만 출력하다가 51번째에 종료하는 odd 함수를 만드세요.

In [63]:
def odd(a):
    print("a: ",a)
    for i in a:
        if i %2==1:
            print(i, end = " ")
        elif i>=51:
            return

In [64]:
a=range(1,101)
odd(a)

a:  range(1, 101)
1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51

In [65]:
h=list(range(1,101))
odd(h)

a:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51

## 5) 함수에서 위치 인수와 키워드 인수 사용하기
* 위치인수(positional argument)
* 함수에 인수를 순서대로 넣는 방식
* 인수의 위치가 정해져 있음

In [67]:
def print_nums(a,b,c):
    print(a,b,c)

In [68]:
print_nums(10,20,30)

10 20 30

리스트, 튜플과 같은 자료형을 1개의 위치인수(매개변수)로 받을 때 위치 인수와 개수가 같으면 <br>
'*' 로 언패킹 가능

In [71]:
p= [10,20,30]

In [72]:
print_nums(p)

TypeError: print_nums() missing 2 required positional arguments: 'b' and 'c'

In [73]:
#그대로 넣으면 에러가 나니까 요소 하나하나 풀어서 넣어줘야 함

In [74]:
print_nums(p[0],p[1],p[2])

10 20 30

In [75]:
print_nums(*p) # 리스트 요소개수와 인수 개수가 맞으면 *사용해서 풀어 넣어줄 수 있다.

10 20 30

In [77]:
print(*p)   #리스트가 아니라 각각의 요소가 풀어져서 나온다

10 20 30

가변인수
* 여러 개의 자료를 한 번에 입력 받음
* *args => *변수명

In [78]:
print("a", "b","c","d")

a b c d

여러 개의 숫자를 입력받아 더하는 함수 (입력 개수가 정해져 있지 X)

In [96]:
def sum2(*args): 
    print(args)
    print(type(args))
    hap =0
    for i in args:
        hap += i
    return hap

In [97]:
def sum3(*nums): 
    hap =0
    for i in nums:
        hap += i
    return hap

In [98]:
sum2(1,9,8,7)

(1, 9, 8, 7)
<class 'tuple'>

25

In [99]:
sum2(1,9)

(1, 9)
<class 'tuple'>

10

In [100]:
sum2(1,8,8,8,8,8,8,89)

(1, 8, 8, 8, 8, 8, 8, 89)
<class 'tuple'>

138

In [94]:
# 어떻게 가능할까?

In [101]:
def sum3(*nums):
    print(nums)
    return sum(nums)  #튜플도 썸함수 가능

In [104]:
sum3(1,1,4,6,7,8,9,2,5,6,2,2,6,4,2,6,2,2)

75

In [105]:
L1=[1,1,4,5,6,7,5,8,99,4]  #형변환이 된게 아니라 겉에 하나 더 싼 것
#안쪽에 숫자가 아니라 리스트가 나와버리니까 오류가 난 것
#튜플에 들어갈땐 문제 없지만 계산에서 오류
#가변함수에서 여러개 데이터 같이 받으려면 숫자 그대로 넣어주거나
#리스트일경우에는 풀어서 넣어줘라
#리스트푸는 방법? = 리스트 앞에 별을 붙여서 풀어라ㅠ

In [108]:
print(*L1)

1 1 4 5 6 7 5 8 99 4

In [106]:
sum3(L1)

TypeError: unsupported operand type(s) for +: 'int' and 'list'

In [107]:
sum3(*L1)

140

In [ ]:
#리스트는 더할 수 없어서 에러 발생

In [109]:
def list_tuple_func(*args):
    print(args)
    print(type(args))

In [110]:
list_tuple_func(1,2,3,4,5)

(1, 2, 3, 4, 5)
<class 'tuple'>

In [111]:
list_tuple_func(1.1,2.2,3.3,4.4,5.5)

(1.1, 2.2, 3.3, 4.4, 5.5)
<class 'tuple'>

In [113]:
list_tuple_func([1,2,3],[4,5,6],[7,8,9])

([1, 2, 3], [4, 5, 6], [7, 8, 9])
<class 'tuple'>

In [114]:
list_tuple_func(dict (a=1, b=2, c=3))

({'a': 1, 'b': 2, 'c': 3},)
<class 'tuple'>

In [ ]:
#args로 받을때는 인수로 어떤 타입을 받는지 확인하고 그에 맞는 조치를 해야한다

## 고정인수와 가변인수 함께 사용하기

* 고정인수와 가변인수를 함께 사용할 때는 반드시
* 고정인수, 가변인수 순으로 넣고 가변인수는 항상 가장 마지막에 넣는다.

def sum(a, *args): 0 <br>
der sum(*args, a): X

정수와 리스트를 입력받아 리스트의 요소에 <br>
입력받은 정수를 곱한 값의 리스트를 반환하는 함수 <br>
3, [1,2,3,4,5] => [3,6,9,12,15]

In [115]:
def muls(a, *args) :
    result = []
    for num in args:
        print(a * num, end= " ")
        result.append(a *num)
    return result

In [116]:
muls(3, *[1,2,3,4,5])

3 6 9 12 15

[3, 6, 9, 12, 15]

In [117]:
muls(3, [1,2,3,4,5])

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

[[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]]

In [118]:
muls(3, 1,2,3,4,5)

3 6 9 12 15

[3, 6, 9, 12, 15]

가변인수는 함수의 젤 끝에 넣어야 한다 # 가변인수가 앞에오면 에러