# 연산자의 종류와 활용

## 1) 연산자의 종류
* 산술연산자: +,-, *, /, %, //, **
* 할당연산자: =, +=, -=, *=, /=, %=
* 비교연산자: ==, !=, >, <, >=, <=
* 논리연산자: and, or, not
* 식별연산자: is, is not
* 멤버 연산자: in, not in

### 산술연산자: +,-, *, /, %, //, **

In [1]:
1+1

2

In [2]:
9*9

81

In [3]:
598/3

199.33333333333334

In [4]:
# 정수 / 정수 = 실수
4/2

2.0

In [ ]:
#파이썬은 무조건 나누기를 하면 실수가 나온다
#타입이 변하는 것

In [7]:
a=4
b=2
c=a/b
print(type(a),a)
print(type(b),b)
print(type(c),c)

<class 'int'> 4
<class 'int'> 2
<class 'float'> 2.0

In [8]:
4%2

0

In [9]:
5%2

1

In [10]:
6//2

3

In [11]:
5//2

2

In [12]:
3**2

9

 #### 괄호를 사용해서 연산 우선순위 지정하기

In [13]:
3+4*5

23

In [14]:
(3+4)*5

35

#### 3의 4제곱에서 100을 뺀 값의 3제곱을 5로 나눈 몫에 1을 더한 값을 구하시오.

In [15]:
(3**4-100)**3//5+1

-1371

#### 초를 입력하면 '몇 분 몇 초'로 환산해주는 코드를 다음과 같이 출력하도록 작성하시오.
* input("초를 입력하세요: ")

초를 입력하세요:1234 1234 초(sec)는 20 분(min) 34 초(sec)입니다

* int(): 데이터 타입을 int로 형변환
* float(): 데이터 타입을 float으로 형변환
* str(): 데이터 타입을 str로 형변환
* list(): 데이터 타입을 list로 형변환
* tuple(): 데이터 타입을 tuple로 형변환
* dict(): 데이터 타입을 dict로 형변환

In [41]:
sec = int(input("초를 입력하세요: "))
minute= sec//60
restsec= sec % 60
print(sec, "초(sec)는", minute, "분(min)", restsec, "초(sec)입니다")

초를 입력하세요: 1234
1234 초(sec)는 20 분(min) 34 초(sec)입니다

#### 할당연산자
* = 오른쪽의 자료를 왼쪽 변수에 할당

In [34]:
a=2
a

2

  - += 왼쪽 변수 값에 오른쪽 값을 더해서 왼쪽 변수에 할당
  - -= 왼쪽 변수 값에 오른쪽 값을 더해서 왼쪽 변수에 할당

In [35]:
#a=a+1
a += 1
a

3

In [36]:
#a=a-1
a-=1
a

2

In [37]:
a *=2
a

4

In [38]:
a /=2
a

2.0

In [39]:
a %=2
a

0.0

In [40]:
a +=4
a//=2
a

2.0

- 비교연산자 ==, !=, >, <, >=, <=

In [42]:
a=3
b=3.0
c=5
d="Python"
e="python"
f= True
g= False

### == 같으면 True, 다르면 False

In [ ]:
#값이 같다고 같은게 아니다.

In [56]:
a == b

True

In [57]:
a == c

False

In [58]:

d == e

False

In [59]:
f == g

False

### != 다르면 True, 같으면 False

In [ ]:
# a>b a가 b를 초과하냐?크냐?
# a<b a가 b 미만이냐?
# a>=b a가 b이상이냐?
# a<=b a가 b이하냐?

or -> true가 한개라도 있으면 트루다, 
#두 값중 하나라도 참이면 참이고, 두값다 거짓이면 거짓이다

In [ ]:
#not -> 값을 반대로 뒤집음,
#true=>false, false=>true

and, or, not 논리연산자가 식 하나에 들어 있으면 
not, and, or 순으로 판단

In [45]:
not True and False or not False

True

- not true and false =false
- false or not false =true

In [46]:
10 == 10 and 10 != 5

True

In [ ]:
10

식별 연산자ㅣ is, is not 객체(object)가 같은지 비교
a is b: a객체와 b객체가 같은지 비교 같으면 참, 다르면 거짓
### 자바스크립트의 ===연산자와 동일

In [47]:
print(a)
print(b)
print(c)

3
3.0
5

In [48]:
print(a==b) #a는 정수, b 는 실수 값은 같다
print(a is b)  # 값은 같지만 데이터 타입이 달라서

True
False

In [49]:
d=3

In [50]:
print(a==d)
print(a is d)

True
True

In [52]:
print(a!=b)
print(a is not b)

False
True

## 맴버 연산자

- in, not in
- 리스트나 튜플 같은 객체 내에 해당 값이 있으면 참, 없으면 거짓

In [53]:
member= [1,2,3,4,5]

In [54]:
3 in member

True

In [55]:
3 not in member

False