# 함수 만들기

### print(), split(), input() => 함수
* 함수의 괄호 안에 값을 넣으면 출력을 해주거나 입력을 받거나 변환을 해 줌
* 도구
* function() -> 기능
* 자주 사용하는 기능을 미리 만들어서 **반복 재사용**할 수 있게 만드는 것

In [1]:
L =[1,2,3,4,5]
for i in L:
    print(i)

1
2
3
4
5

In [2]:
L =[1,2,3,4,5]
result = []
for i in L:
    result.append(i*10)
result

[10, 20, 30, 40, 50]

## 1) 함수 만드는 법
def 함수이름(): <br>
____실행코드 <br>
____return 리턴 값

In [3]:
def hello():
    print("hello 파이썬 함수 만들기")

In [4]:
hello()

hello 파이썬 함수 만들기

In [5]:
#우리가 만들었지만 아무것도 하지 않는다. 불러야 실행한다. 부르기만하면 계속 실행

## 2) 함수 호출순서
* 함수는 호출하기 전에 반드시 먼저 정의되어야 하고(만들어 놓아야 함)
* 함수 정의가 함수 실행보다 위에 있어야 한다.

In [6]:
def hello2():
    print("hello2 파이썬 함수 만들기")
    
hello2()

hello2 파이썬 함수 만들기

## 3) 함수의 매개변수
함수의 ()안에 받는 값 <br>
()안에 값을 받아서 함수 내에서 처리할 때 사용<br>
print("hello") => hello

매개변수 1개짜리 함수

In [7]:
# 원의 넓이를 구하는 함수 - 반지름 * 반지름 * 3.14
def circle(c):
    print("원의 넓이는: ", c * c * 3.14, "입니다.")
    return c * c * 3.14

In [8]:
result = circle(3)
print("result:", result)

원의 넓이는:  28.26 입니다.
result: 28.26

In [9]:
def circle(c):
    print("원의 넓이는: ", c*c*3.14, "입니다.")

매개변수 2개짜리 함수 - 덧셈 함수 만들기

In [10]:
def add(a,b):
    return a+b

In [11]:
result = add(10,3)
print("result: ", result)

result:  13

In [12]:
add (999, 123456789)

123457788

매개 변수 3개짜리 함수 - a: 시작, b: 끝, c: 증감 <br>
interval이라는 이름의 함수를 만드세요 <br>
숫자를 입력받아 시작, 끝, 증감이 반영되게 출력하세요. <br>
interval(1,10,2) <br>
1,3,5,7,9

In [13]:
def num_maker(a,b,c):
    print([i for i in range(a,b,c)])

In [14]:
result = num_maker(1, 10, 2)
print(result)
print(type(result))

[1, 3, 5, 7, 9]
None
<class 'NoneType'>

In [15]:
num_maker(2, 500)

TypeError: num_maker() missing 1 required positional argument: 'c'

In [16]:
num_maker(1,10,2)

[1, 3, 5, 7, 9]

In [17]:
result = num_maker(1,10,2)
print(result)
#리턴이 없으면 result에 입력 받지 못해

[1, 3, 5, 7, 9]
None

In [18]:
def num_maker(a,b,c):
    result=[i for i in range(a,b,c)]
    return result

In [19]:
result = num_maker(1,10,2)
print(result)
print(type(result))

[1, 3, 5, 7, 9]
<class 'list'>

리턴값이 여러개인 함수

In [20]:
def add_sub(a,b) :
    add = a+b
    sub = a-b
    return add, sub

In [21]:
result = add_sub(7,3)
print(type(result))

<class 'tuple'>

In [22]:
#여러개를 리턴할 경우에는 한나의 튜플로 묶어서 나온다

In [23]:
#결과값이 정수가 아니라 리스트와 같은 여러개의 값으로 나올 수 도 있다.
# 따라서 데이터 타입이 바뀔 수 있음 주의

In [24]:
def num_maker(a,b,c):
    result=[i for i in range(a,b,c)]
    return result, result

In [25]:
result = num_maker(1,10,2)
print(result)
print(type(result))  #괄호로 묶어서 튜플로 내보내지 않아도 알아서 튜플로 묶어서 나온다

([1, 3, 5, 7, 9], [1, 3, 5, 7, 9])
<class 'tuple'>

In [26]:

muls2(*L2, 3)

NameError: name 'muls2' is not defined

In [27]:
a=1
b=3

In [28]:
t=a,b

In [29]:
t

(1, 3)

In [30]:
for i in enumerate(range(1,11)):
    print(type(i),i)

<class 'tuple'> (0, 1)
<class 'tuple'> (1, 2)
<class 'tuple'> (2, 3)
<class 'tuple'> (3, 4)
<class 'tuple'> (4, 5)
<class 'tuple'> (5, 6)
<class 'tuple'> (6, 7)
<class 'tuple'> (7, 8)
<class 'tuple'> (8, 9)
<class 'tuple'> (9, 10)

num_maker2- 정방향, 역방향 리스트 출력

In [31]:
def num_maker2(a,b,c):
    asc = [i for i in range(a,b,c)]
    desc = [i for i in range(a,b,c)][::-1]
    return asc, desc

In [32]:
num_maker2(1,10,2)

([1, 3, 5, 7, 9], [9, 7, 5, 3, 1])

In [33]:
#여러개를 반환할 수 있는데, 사실 결국엔 튜플 한개이다! 튜플 한개로 반환되는 것.
#리스트 두개가 튜플 한개로 묶여서 나온다

## 4) 중간에 함수를 종료시키기 위한 용도의 return
* 반복문에서 break로 반복을 중지시키는 것처럼 함수에서 return이 실행되면 함수는 종료

1-10까지 숫자중에 짝수만 출력하다가 7이상이 되면 종료하기

In [34]:
age= range(1,11)

In [35]:
def even(a):
    for i in a:
        if i%2 == 0:
            print(i, end = " ")
        elif i >=7:
            break

In [36]:
def even2(a):
    for i in a:
        if i%2 == 0:
            print(i, end = " ")
        elif i >=7:
            return

In [37]:
even(age)

2 4 6

In [38]:
even2(age)

2 4 6

1-100까지 숫자 중에 홀수만 출력하다가 51번째에 종료하는 odd 함수를 만드세요.

In [39]:
def odd(a):
    print("a: ",a)
    for i in a:
        if i %2==1:
            print(i, end = " ")
        elif i>=51:
            return

In [40]:
a=range(1,101)
odd(a)

a:  range(1, 101)
1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51

In [41]:
h=list(range(1,101))
odd(h)

a:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51

## 5) 함수에서 위치 인수와 키워드 인수 사용하기
* 위치인수(positional argument)
* 함수에 인수를 순서대로 넣는 방식
* 인수의 위치가 정해져 있음

In [42]:
#매개변수를 위치인수라고 함 값을 순서대로 넣어주어야함 (위치가 정해져 있음)
#개수가 정해져 있을 때 인수 개수를 다르게 입력하면 오류 발생
#위치인수가 정해져있는 함수에 리스트를 넣으면 에러가 난다

In [43]:
def print_nums(a,b,c):
    print(a,b,c)

In [44]:
print_nums(10,20,30)

10 20 30

리스트, 튜플과 같은 자료형을 1개의 위치인수(매개변수)로 받을 때 위치 인수와 개수가 같으면 <br>
'*' 로 언패킹 가능

In [45]:
p= [10,20,30]

In [46]:
print_nums(p)

TypeError: print_nums() missing 2 required positional arguments: 'b' and 'c'

In [47]:
#그대로 넣으면 에러가 나니까 요소 하나하나 풀어서 넣어줘야 함
#3개를 받아야하는데, 한개만 들어와서 에러 발생
# 리스트를 쪼개서 넣어주는 방법
#개수가 정확하게 같을 경우에 별을 붙여주면 풀어서 요소만 넣어줌

In [48]:
print_nums(p[0],p[1],p[2])

10 20 30

In [49]:
print_nums(*p) # 리스트 요소개수와 인수 개수가 맞으면 *사용해서 풀어 넣어줄 수 있다.

10 20 30

In [50]:
print(*p)   #리스트가 아니라 각각의 요소가 풀어져서 나온다

10 20 30

## 가변인수
* 여러 개의 자료를 한 번에 입력 받음
* *args => *변수명    -> 박스를 풀어라(통상적으로 변수이름 args 사용한다(arguments)

In [51]:
#위치인수는 입력받는 개수가 정해져 있어서 반드시 맞춰서 넣어주어야함
#하지만 가변 인수는 매개변수가 있는데도 불구하고 개수 상관없이 넣어도 다 값이 나온다
#가변인수를 쓰기 때문에 가능
#

In [52]:
print("a", "b","c","d")

a b c d

In [53]:
def my_print(*args):
    for i in args:
        print(i, end=" ")

In [54]:
my_print("2","4","5",1, '파이썬')
print(type(my_print("2","4","5",1, '파이썬')))

2 4 5 1 파이썬 2 4 5 1 파이썬 <class 'NoneType'>

여러 개의 숫자를 입력받아 더하는 함수 (입력 개수가 정해져 있지 X)

In [55]:
#입력 개수 제한 두지 않으려고 args사용
#

In [56]:
def sum(*args): 
    print("args:", args)
    print(type(args))
    hap =0
    for i in args:
        hap += i
    return hap

In [57]:
def sum2(*args): 
    print("args:", args)
    print(type(args))
#     hap =0
#     for i in args:
#         hap += i
#     return hap

In [58]:
sum2(1,1,4,6,7,8,9,2,5,6,2,2,6,4,2,6,2,2) #튜플로 변환이 된다 #반복가능 -> 반복문안에 넣어 하나씩 꺼낸다음

args: (1, 1, 4, 6, 7, 8, 9, 2, 5, 6, 2, 2, 6, 4, 2, 6, 2, 2)
<class 'tuple'>

In [59]:
sum(1, 1, 4, 6, 7, 8, 9, 2, 5, 6, 2, 2, 6, 4, 2, 6, 2, 2)

args: (1, 1, 4, 6, 7, 8, 9, 2, 5, 6, 2, 2, 6, 4, 2, 6, 2, 2)
<class 'tuple'>

75

In [60]:
sum2(1,9,8,7)

args: (1, 9, 8, 7)
<class 'tuple'>

In [61]:
sum2(1,9)

args: (1, 9)
<class 'tuple'>

In [62]:
sum2(1,8,8,8,8,8,8,89)

args: (1, 8, 8, 8, 8, 8, 8, 89)
<class 'tuple'>

In [63]:
# 어떻게 가능할까?

In [1]:
def sum3(*nums):
    return sum(nums)  #튜플도 썸함수 가능

In [2]:
sum3(1,1,4,6,7,8,9,2,5,6,2,2,6,4,2,6,2,2)

75

In [3]:
L1=[1,1,4,5,6,7,5,8,99,4]  #형변환이 된게 아니라 겉에 하나 더 싼 것
#안쪽에 숫자가 아니라 리스트가 나와버리니까 오류가 난 것
#튜플에 들어갈땐 문제 없지만 계산에서 오류
#가변함수에서 여러개 데이터 같이 받으려면 숫자 그대로 넣어주거나
#리스트일경우에는 풀어서 넣어줘라
#리스트푸는 방법? = 리스트 앞에 별을 붙여서 풀어라ㅠ

In [4]:

def sum3(*nums):
    print(type(nums))
    print("nums: ", nums)
    print("nums[0]: ", nums[0])
    return sum(nums)

In [5]:
sum3(L1)

<class 'tuple'>
nums:  ([1, 1, 4, 5, 6, 7, 5, 8, 99, 4],)
nums[0]:  [1, 1, 4, 5, 6, 7, 5, 8, 99, 4]

TypeError: unsupported operand type(s) for +: 'int' and 'list'

In [6]:

# sum3(1, 1, 4, 6, 7, 8, 9, 2, 5, 6, 2, 2, 6, 4, 2, 6, 2, 2)
sum3(*L1)

<class 'tuple'>
nums:  (1, 1, 4, 5, 6, 7, 5, 8, 99, 4)
nums[0]:  1

140

In [67]:
print(*L1)

1 1 4 5 6 7 5 8 99 4

In [68]:
print(*[1, 1, 4, 6, 7, 8, 9, 2, 5, 6, 2, 2, 6, 4, 2, 6, 2, 2])

1 1 4 6 7 8 9 2 5 6 2 2 6 4 2 6 2 2

In [69]:
sum3(L1)  #별 args로 받은게 아니기때문에 반복문에 넣을 수 있고, 썸함수도 가능
# 하지만 가변인수는 들어가는 순간 튜플로 바뀌기 때문에 썸함수를 바로 슬 수 없다 -> 튜플 +튜플이 되어버리니까 계산이 되지 않는다
#계산이 되게 하려면 함수를 고치는 방법 뿐

([1, 1, 4, 5, 6, 7, 5, 8, 99, 4],)
<class 'tuple'>
args: (([1, 1, 4, 5, 6, 7, 5, 8, 99, 4],),)
<class 'tuple'>

TypeError: unsupported operand type(s) for +=: 'int' and 'tuple'

In [70]:
L1=[1,1,4,5,6,7,5,8,99,4]

In [74]:
#리스트는 더할 수 없어서 에러 발생

In [75]:
def list_tuple_func(*args):
    print(args)
    print(type(args))

In [76]:
list_tuple_func(1,2,3,4,5)

(1, 2, 3, 4, 5)
<class 'tuple'>

In [77]:
list_tuple_func(1.1,2.2,3.3,4.4,5.5)

(1.1, 2.2, 3.3, 4.4, 5.5)
<class 'tuple'>

In [78]:
list_tuple_func([1,2,3],[4,5,6],[7,8,9])

([1, 2, 3], [4, 5, 6], [7, 8, 9])
<class 'tuple'>

In [79]:
list_tuple_func(dict (a=1, b=2, c=3))

({'a': 1, 'b': 2, 'c': 3},)
<class 'tuple'>

In [ ]:
#args로 받을때는 인수로 어떤 타입을 받는지 확인하고 그에 맞는 조치를 해야한다

## 고정인수와 가변인수 함께 사용하기

* 고정인수와 가변인수를 함께 사용할 때는 반드시
* 고정인수, 가변인수 순으로 넣고 가변인수는 항상 가장 마지막에 넣는다.

def sum(a, *args): 0 <br>
der sum(*args, a): X

정수와 리스트를 입력받아 리스트의 요소에 <br>
입력받은 정수를 곱한 값의 리스트를 반환하는 함수 <br>
3, [1,2,3,4,5] => [3,6,9,12,15]

In [80]:
def muls(a, *args) :
    result = []
    for num in args:
        print(a * num, end= " ")
        result.append(a *num)
    return result

In [81]:
L2 =[1,2,3,4,5]

In [82]:
muls(3, *L2)

3 6 9 12 15

[3, 6, 9, 12, 15]

In [83]:
muls(3, *[1,2,3,4,5])

3 6 9 12 15

[3, 6, 9, 12, 15]

In [84]:
muls(3, [1,2,3,4,5])

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

[[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]]

In [85]:
muls(3, 1,2,3,4,5)

3 6 9 12 15

[3, 6, 9, 12, 15]

가변인수는 함수의 젤 끝에 넣어야 한다 # 가변인수가 앞에오면 에러

In [86]:
def muls2(*args, a):
    result = []
    for num in args:
        print(a * num, end=" ")
        result.append(a * num)
    return result

In [87]:
muls2(*L2, 3)

TypeError: muls2() missing 1 required keyword-only argument: 'a'

## 키워드 인수

### 개인정보를 출력하는 함수

In [88]:
def personal_info(name, age, address):
    print('이름: ', name)
    print('나이: ', age)
    print('주소: ', address)

In [89]:
personal_info('홍길동', 30, '서울시 강남구')

이름:  홍길동
나이:  30
주소:  서울시 강남구

In [90]:
#변수 기억해서 맞춰 넣는 것이 까다롭기에 keyword argument를 사용한다

* 위의 함수는 인수의 순서를 모두 기억해야 하기 때문에 사용하기 어려움
* 인수의 순서와 용도를 매번 기억하지 않도록 하기 위해서 키워드 인수(keyword argument)사용
*  예) print("python", sep=" ", end="\n")  -> sep, end => 키워드 인수

In [91]:
dict(key='value')

{'key': 'value'}

personal_info 함수를 키워드 인수 방식으로 호출

In [92]:
personal_info(name='홍길동', age=30, address ="서울시 강남구")

이름:  홍길동
나이:  30
주소:  서울시 강남구

키워드 인수 방식으로 함수를 호출하면 인수 순서나 위치가 바뀌어도 동작

In [93]:
print("python","hello", end ="\t", sep=" : ")

python : hello

In [94]:
dict(address="서울시 강남구", name='홍길동', age=30)

{'address': '서울시 강남구', 'name': '홍길동', 'age': 30}

In [96]:
def my_print2( end, sep, *args):
    print(args)
    pass

In [97]:
my_print2(1,2,3,4)

(3, 4)

In [98]:
#딕셔너리 언패킹 -> 별두개주기 -> 키와 벨류 두개이니까 **

키워드, 인수를 사용하는 가변인수 함수 만들기 <br>
def 함수이름(**kwargs):   keysord arguments<br>
____코드 <br>
____return

In [8]:
def personal_info2(**kwargs):
    print("kwargs:", kwargs)
    print("kwargs type:", type(kwargs))

In [9]:
personal_info2(name='홍길동')

kwargs: {'name': '홍길동'}
kwargs type: <class 'dict'>

In [10]:
personal_info2(name='홍길동', age=30, address='서울시 강남구', school="강남 고등학교")

kwargs: {'name': '홍길동', 'age': 30, 'address': '서울시 강남구', 'school': '강남 고등학교'}
kwargs type: <class 'dict'>

In [11]:
d=personal_info2(name='홍길동', age=30, address='서울시 강남구', school="강남 고등학교")
d

kwargs: {'name': '홍길동', 'age': 30, 'address': '서울시 강남구', 'school': '강남 고등학교'}
kwargs type: <class 'dict'>

In [13]:

personal_info2(**d)

TypeError: __main__.personal_info2() argument after ** must be a mapping, not NoneType

In [14]:

def personal_info3(**kwargs):
    print("kwargs:", kwargs)
    print("kwargs type:", type(kwargs))
    for key, value in kwargs.items():
        print(key, value)

In [17]:
personal_info3(**d)

TypeError: __main__.personal_info3() argument after ** must be a mapping, not NoneType

고정인수와 키워드 가변인수 함께 사용하기
* 고정인수, **킹워드 인수 순으로 와야함

In [110]:
def personal_info4 (name,**kwargs):
    print("name:",name)
    print("kwargs:", kwargs)

In [111]:
personal_info4('홍길동') #고정인수만 넣어준것

name: 홍길동
kwargs: {}

In [112]:
personal_info4('홍길동', age=30, address='서울시 강남구') #고정인수, 키워드인수 둘다 넣어준것

name: 홍길동
kwargs: {'age': 30, 'address': '서울시 강남구'}

In [113]:
personal_info4(address='서울시 강남구') # 고정인수빼고 넣으면 에러가 난다 #무조건 넣어 주어야 한다
#키워드인수는 안넣어도 문제되지 않는다.

TypeError: personal_info4() missing 1 required positional argument: 'name'

In [ ]:
#고정이누로 들어갔지만 키워드 인수처럼 홏출해서 넣을수 있다?

In [114]:
personal_info4(name='홍길동', age=30, address='서울시 강남구')

name: 홍길동
kwargs: {'age': 30, 'address': '서울시 강남구'}

In [ ]:
#고정인수로 넣었지만 딕트로 만들어 넣은 다음에 퍼스널인포4에 그대로 넣어 언패킹해도 작동 된다

In [117]:
d2=dict(name='홍길동', age=30, address='서울시 강남구')
d2

{'name': '홍길동', 'age': 30, 'address': '서울시 강남구'}

In [118]:
personal_info4(**d2)

name: 홍길동
kwargs: {'age': 30, 'address': '서울시 강남구'}

#가변인수와 가변키워드인수를 함께쓰기
* def 함수명 (*args, **kwargs):
* def 함수명(고정인자, *args, **kwargs):

In [18]:

def custom_print(*args, **kwargs):
    print(args, kwargs)
    print(*args, **kwargs)
custom_print(1,2,3, sep=" !! ", end="")

(1, 2, 3) {'sep': ' !! ', 'end': ''}
1 !! 2 !! 3

In [120]:
def custom_print(*args, **kwargs):
    print(*args, **kwargs)
custom_print(1,2,3, sep=" !! ", end="")

1 !! 2 !! 3

In [19]:

def custom_print(**kwargs, *args):
    print(args, kwargs)
    print(*args, **kwargs)
custom_print(sep=" !! ", end="", 1,2,3, )

SyntaxError: arguments cannot follow var-keyword argument (3960988667.py, line 1)

매개변수 = 함수 내에서 사용되는 변수
* 위치인수 : 위치가 고정된 , 위치인수는 키워드 인수로 사용가능(변수명=값)
* 가변 인수: 여러 개의 자료를 동시에 받을 수 있는  => 받고나면 튜플로 들어옴
* 키워드 가변인수: 여러개의 자료를 동시에 받을 수 있는데 key=value 형태로 받는 매개변수 -> dict로 들어옴

매개변수에 초기값 지정하기
* 초기값이 지정된 매개변수는 반드시 가장 마지막에 와야 함
*

In [125]:
def personal_info5(name, age,address="비공개") :
    print('이름: ', name)
    print('나이: ', age)
    print('주소: ', address)

In [127]:
personal_info5('홍길동', 30, '서울시 강남구')

이름:  홍길동
나이:  30
주소:  서울시 강남구

In [128]:
personal_info5('홍길동', 30) #자료를 안 넣어도 기본값으로 등록되어있어

이름:  홍길동
나이:  30
주소:  비공개

In [129]:
def personal_info6(name, address="비공개", age) :
    print('이름: ', name)
    print('나이: ', age)
    print('주소: ', address)

SyntaxError: non-default argument follows default argument (3583390063.py, line 1)

In [ ]:
# 기본값이 있는 변수는 제일 뒤로 보내야한다. 아니면 에러

In [132]:
#가변인수랑 같이 넣을때 순서는?
def personal_info6(name, **kwargs, address="비공개") :
    print('args: ', args)
    print('kwargs: ', kwargs)
    print('주소: ', address)

SyntaxError: invalid syntax (1793752091.py, line 2)

In [138]:
#가변인수랑 같이 넣을때 순서는?
def personal_info6(name, address="비공개", **kwargs) :
    print('args: ', args)
    print('kwargs: ', kwargs)
    print('주소: ', address)

In [135]:
#가변인수랑 같이 넣을때 순서는?
def personal_info6(address="비공개", *args, **kwargs) :
    print('args: ', args)
    print('kwargs: ', kwargs)
    print('주소: ', address)

매개변수의 종류에 따른 순서
* 위치 인수, 위치인수 = 기본값, *args, **kwargs

In [139]:
#가변인수랑 같이 넣을때 순서는?
def personal_info6(*args, address="비공개", **kwargs) :
    print('args: ', args)
    print('kwargs: ', kwargs)
    print('주소: ', address)

In [140]:
personal_info6("홍길동", 1,2,3,4, name="홍길동", age=30)

args:  ('홍길동', 1, 2, 3, 4)
kwargs:  {'name': '홍길동', 'age': 30}
주소:  비공개

In [141]:
personal_info6( 1,2,3,4, name="홍길동", age=30)

args:  (1, 2, 3, 4)
kwargs:  {'name': '홍길동', 'age': 30}
주소:  비공개

함수 Doc 스트링 사용하기
* 함수의 기능을 설명하거나 사용법을 함수 내에 적어 놓는 것
def 함수이름(매개변수):<br>
____"""독스트링으로 설명 적기 """<br>
____ 실행코드<br>
____return
* 독스트링은 함수 실행시에는 출력되지 않음
* print(함수이름, doc)
* help(함수이름)

In [22]:
print()

In [23]:
def add(a,b):
    """
    독스트링- 이 함수는 a와 b를 더한 뒤 결과를 반환하는 함수입니다.
    """
    return a+b

In [24]:
add(10,5)

15

In [25]:
add()# shift + tap  =(help) ->내가만든 함수 설명 보여줌

TypeError: add() missing 2 required positional arguments: 'a' and 'b'

In [20]:

help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [26]:

help(add)

Help on function add in module __main__:

add(a, b)
    독스트링- 이 함수는 a와 b를 더한 뒤 결과를 반환하는 함수입니다.

In [144]:
print(add.__doc__)

    독스트링- 이 함수는 a와 b를 더한 뒤 결과를 반환하는 함수입니다.

In [146]:
print(print.__doc__)

print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.

In [147]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [27]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [151]:
dir([1,2,3,4]) #'__iter__',라는 함수가 들어있는 경우에만 반복사용 가능하다는것 알고있음 좋음

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

# 람다 표현식
* 간단한 함수를 작성하거나 다른 함수의 인수로 함수를 넣을 때 사용* 
익명함수(함수명이 없음)* 
사용 후 메모리에서 삭제

In [152]:
#자료 1개를 입력받아 10을 더해 리턴하는 함수
def plus_ten(x):
    return x +10

In [153]:
plus_ten(5)

15

람다 함수에 괄호를 씌우고 뒤에인수를 넣어서 직접 호출

In [155]:
# def lambda():
(lambda x : x+10)(5)

15

In [ ]:
#일회성으로 슬 수 있고, 변수에 저장해서 쓸 수 있음

람다 함수를 변수에 넣고 변수에 인수를 넣어서 호출

In [156]:
plus_five = lambda x: x+5

In [157]:
plus_five(5)

10

map(함수, 리스트자료)

In [161]:
a,b,c,d =map(int,["1","2","4","5"])

In [162]:
print(a,b,c,d)
print(type(a),b,c,d)

1 2 4 5
<class 'int'> 2 4 5

In [ ]:
#람다함수에 넣어서 5를 더해서 나오도록 할 수 있음

In [164]:
# plus_five = lambda x : x+5
# plus_five (값)
result = map(plus_five,[1,2,3,4,5])
print(list(result))

[6, 7, 8, 9, 10]

In [165]:
#맵이라는 함수내부에 람다함수 넣어서 손쉽게 만들 수 있다

In [166]:
list(map(lambda x : x+10, [1,2,3,4,5]))
#람다함수는 임시함수기 때문에 한번 사용되고 나면 사라진다.

[11, 12, 13, 14, 15]

In [167]:
hap=[]
for i in [1,2,3,4,5]:
    hap.append(i+10)
print(hap)

[11, 12, 13, 14, 15]

In [171]:
x= [1,2,3,4,5]
def plus_10(x):
    hap=[]
    for i in [1,2,3,4,5]:
        hap.append(i+10)
    print(hap)
    return hap

plus_10(x)

[11, 12, 13, 14, 15]

[11, 12, 13, 14, 15]

In [171]:
x= [1,2,3,4,5]
def plus_10(x):
    hap=[i+10  for i in x]
    
    print(hap)
    return hap

plus_10(x)

[11, 12, 13, 14, 15]

[11, 12, 13, 14, 15]

In [172]:
x= [1,2,3,4,5]
def plus_10(x):
    return [i+10  for i in x]


plus_10(x)

[11, 12, 13, 14, 15]

In [ ]:
#하지만 위 함수는 람다함수와 달리 메모리에서 바로 삭제되지 않고 계속 남아 있음
#하지만 결과는 같다

람다 표현식에 조건부 표현식 사용하기

In [180]:
# 3의 배수만 문자열로 바꾸기
a = list(range(1,11))
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [182]:
#조건이 3ㅇ,ㅣ 배수만 문자열로 바꾸기
a = list(range(1,11))
def tostr3(a):
    b=[]
    for i in a:
        if i%3==0:
            b.append(str(i))
        else:
            b.append(i)
        
    return b

In [183]:
#조건이 3ㅇ,ㅣ 배수만 문자열로 바꾸기
#조건문 부분을 조건 표현식으로 변환할 수 있다
a = list(range(1,11))
def tostr3(a):
    b=[]
    for i in a:
        b.append(str(i)) if i%3==0  else b.append(i)
            
        
    return b

In [184]:
tostr3(a)

[1, 2, '3', 4, 5, '6', 7, 8, '9', 10]

In [185]:
#조건이 3ㅇ,ㅣ 배수만 문자열로 바꾸기
#조건문 부분을 조건 표현식으로 변환할 수 있다
#리스트+포문 -> 리스트 표현식으로 변환

a = list(range(1,11))
def tostr3(a):
    
    return[str(i) if i%3==0  else i for i in a]

In [186]:
tostr3(a)

[1, 2, '3', 4, 5, '6', 7, 8, '9', 10]

In [190]:
list(map(lambda x :str(x) if x%3==0  else x,a))  #전처리 할때 엄청 많이 사용
#apply()함수가 map함수와 비슷
#행하나씩 꺼내서 집어 넣어주는

[1, 2, '3', 4, 5, '6', 7, 8, '9', 10]

In [ ]:
apply(lambda x :str(x) if x%3==0  else x)

In [ ]:
apply(lambda x :int(x) if type(x)=='o'  else x)

In [191]:
#전처리할때 많이 사용하니까 눈에 익혀두자

In [ ]:
#람다함수 맵함수 같이 써서 작업하는 또다른 경우

In [192]:
a= [1,2,3,4,5]
b=[2,4,6,8,10]
c=[3,6,9,12,15]

In [ ]:
#리스트 세개에서 자리수 같으 ㄴ애들 다 곱하는 것

In [193]:
list(map(lambda x,y,z: x*y*z, a,b,c))

[6, 48, 162, 384, 750]

In [195]:
#리스트에 있는 애들 하나식 꺼내지 않아도 계산 가능하다!
#원래대로 하려면 포문에 넣어
result=[]
for x,y,z in zip(a,b,c):
    result.append(x*y*z)
result

[6, 48, 162, 384, 750]